.avic-global-input-width {
    width: 250px;
    box-sizing: border-box;
}

.avic-global-text-min-height {
    min-height: 60px;
}

.avic-show {
    display: block !important;
}

.avic-hidden {
    display: none !important;
}


.attr-form-group {
    margin-bottom: 0px;
    margin-top: 5px;
}

.avic-task-basic-information {
    border-color: #c7ca17;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 4px;
}


.avic-container {
    margin:0 auto;
}
.avic-content {
    margin-top:5px;
}

.avic-clear{
    clear:both;
}

.avic-form-inline .avic-form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.process-start-option {
    float: left;
}

 .base_info_bar {
        background-color: #d0e0f0;
        height: 25px;
        padding-top:2px;
    }
    
  .demoCont {
        padding: 10px;
         /*  max-height: 450px; */
    overflow-y: auto;
    overflow-x: hidden;
    }
    
    .global-attrs-tab {
        padding: 0;
        border: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    .global-attrs-tab li {
        border: 0;
        margin-right: 5px;
        padding: 5px 10px;
        font-size: 14px;
        list-style: none;
        float: left;
    }

     .global-start-auth-tab {
          padding: 0;
        border: 0;
        margin-bottom: 0;
        list-style: none;
    }
.global-start-auth-tab li {
     border: 0;
     margin-right: 0px;
     padding: 5px 7px;
     font-size: 12px;
     list-style: none;
    display: inline-block;
	width:52px;
	
}

select.form-control {
    -ms-box-sizing: content-box;
    padding: 5px 0\0; /* IE 8+ */
}
    .avic-flow-default-theme {
        width: auto;
    }
    
    .avic-flow-default-theme .form-group {
        margin-bottom: 5px
    }
    .avic-flow-default-theme table {
        margin-bottom: 5px
    }
    .avic-flow-default-theme .table-fix {
       table-layout: fixed;
    }
     .avic-flow-default-theme .table-fix td  {
         text-overflow: ellipsis;
   		 white-space: nowrap;
    	overflow: hidden;
    }
    
    .avic-flow-default-theme .label {
        color: black;
        width: 58px;
        text-align: center;
        font-size: 13px;
        margin: 0 auto;
    }
    
    .avic-flow-default-theme .tab-cont {
       /* font-size: 12px;*/
    }
    
    /* .avic-flow-default-theme .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        margin-left: 3px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none !important;
        border: 1px solid transparent;
        border-radius: 4px;
        float: none !important;
        height: 30px;
         margin-top: 0px;
    }
    
    .btn-primary {
        color: #fff !important;
        background-color: #337ab7 !important;
        border-color: #2e6da4 !important;
    }
    
    .btn-sm {
        padding: 5px 10px !important;
        font-size: 12px !important;
        line-height: 1.5 !important;
        border-radius: 3px !important;
    }
    
    .btn-xs {
        font-size: 12px !important;
        line-height: 1.5 !important;
        border-radius: 3px !important;
    }
     */
    .clear-left-padding {
        padding-left: 0;
    }
     .clear-right-padding {
        padding-right: 0;
    }
    .clear-left-right-padding {
         padding-left: 0;
         padding-right: 0;
    }

.form-buttion-fix {
	min-width: 58px;
}

/*    属性样式 */
.button-fix {
       display: inline-block;
    margin-left: 5px;
    width: 59px;
    padding: 0;
}

.button-margin-left-fix {
   margin-left: 220px;
}

label{
    font-weight: normal !important;
    font-size: 12px;
}

.checkbox-padding-top {
    padding-top: 3px;
}
.checkbox-parent-label  {
    padding-top: 5px;
    margin-bottom: 0px;
}

.start-auth-button {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 75%;
}

.bpm-table {
	
}

.bpm-table>thead>tr:first-child{
	
}

.bpm-table>thead>tr:first-child>td{
	   /*  padding: 0; */
}

.webuploader-pick{
    font-size: 12px;
	color:#FFF;
	height: 28px;
	text-align: center;
	min-width: 66px;
	min-width: 46px\9;
	margin:1px 0;
	padding:0 6px;
	line-height: 26px;
	margin-right: 5px;
	background:#0079fe;
	border-color:#0079fe;
	-webkit-transition:all .3s;
	transition:all .3s;
	text-shadow:none;
 }
.webuploader-pick-hover{
	background:#006bfc;
	text-shadow:none;
	border-color:#006bfc;
}

.webuploader-container {
	    padding-left: 60px;
}

.webuploader-container > div:last-child{
	    width: 80px !important;
		height: 30px  !important;
		left: 63px !important;
}

 .navbar-form span {
            margin-left: 10px;
        }
 .icon {
            font-size: 25px;
            cursor: pointer;
 }
 
 a:hover {
 	text-decoration: none;
 }

 tr.selected {
    background-color: wheat;
}

.doc-auth-padding {
	padding-left : 15px;
}

/* 正文权限 */
.wordAuthContainer {
	padding-left: 20px;
}

.word-auth-padding {
	padding-left : 15px;
}
