.tab-content>div {
    display: none;
}

.tab-content>div.active {
    display: block;
}

.user-lsit {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-bottom: 1px dotted #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.user-lsit:HOVER {
	background-color: #eeeeee;
}
.target-selector-form {
   /* display:inline-block;*/
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-bottom: 1px dotted #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.target-selector-form:HOVER {
	background-color: #eeeeee;
}
#myTabContent{
	height: 400px;
	overflow: auto;
	overflow-x: hidden;
}
#platform-userselect-userview{
	width: 100%;
	height: 300px;
	overflow: auto;
	overflow-x: hidden;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}
.target-selector-form .userName{
	width: 60%;
	float:left;
	text-align: left;

}
.target-selector-form .deptName{
	width: 30%;
	float:left;
	text-align: center;
}
.target-selector-form .remove{
	width: 10%;
	float:left;
	text-align: right;
}
.target-selector-form  span {
	display:none;
	cursor: pointer;
}
.target-selector-form:hover  span {display:inline-block;}
.treeViewDiv{
    height: 280px;
    overflow: auto;
}
