<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.assets.device.assetsdevicescrap.dao.AssetsDeviceScrapDao">

<resultMap id="AssetsDeviceScrapDTOMap" type="avicit.assets.device.assetsdevicescrap.dto.AssetsDeviceScrapDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="createdByPerson" column="CREATED_BY_PERSON" jdbcType="VARCHAR" />
		<result property="createdByDept" column="CREATED_BY_DEPT" jdbcType="VARCHAR" />
		<result property="createdByTel" column="CREATED_BY_TEL" jdbcType="VARCHAR" />
		<result property="formState" column="FORM_STATE" jdbcType="VARCHAR" />
		<result property="procName" column="PROC_NAME" jdbcType="VARCHAR" />
		<result property="procId" column="PROC_ID" jdbcType="VARCHAR" />
		<result property="assetId" column="ASSET_ID" jdbcType="VARCHAR" />
		<result property="unifiedId" column="UNIFIED_ID" jdbcType="VARCHAR" />
		<result property="deviceCategory" column="DEVICE_CATEGORY" jdbcType="VARCHAR" />
		<result property="deviceName" column="DEVICE_NAME" jdbcType="VARCHAR" />
		<result property="deviceModel" column="DEVICE_MODEL" jdbcType="VARCHAR" />
		<result property="deviceSpec" column="DEVICE_SPEC" jdbcType="VARCHAR" />
		<result property="ownerId" column="OWNER_ID" jdbcType="VARCHAR" />
		<result property="ownerDept" column="OWNER_DEPT" jdbcType="VARCHAR" />
		<result property="userId" column="USER_ID" jdbcType="VARCHAR" />
		<result property="userDept" column="USER_DEPT" jdbcType="VARCHAR" />
		<result property="manufacturerId" column="MANUFACTURER_ID" jdbcType="VARCHAR" />
		<result property="createdDate" column="CREATED_DATE" jdbcType="TIMESTAMP" />
		<result property="positionId" column="POSITION_ID" jdbcType="VARCHAR" />
		<result property="originalValue" column="ORIGINAL_VALUE" jdbcType="DECIMAL" />
		<result property="totalDepreciation" column="TOTAL_DEPRECIATION" jdbcType="DECIMAL" />
		<result property="netValue" column="NET_VALUE" jdbcType="DECIMAL" />
		<result property="netSalvage" column="NET_SALVAGE" jdbcType="DECIMAL" />
		<result property="secretLevel" column="SECRET_LEVEL" jdbcType="VARCHAR" />
		<result property="scrapReason" column="SCRAP_REASON" jdbcType="VARCHAR" />
		<result property="productRiskAnalyse" column="PRODUCT_RISK_ANALYSE" jdbcType="VARCHAR" />
		<result property="scrapMoney" column="SCRAP_MONEY" jdbcType="DECIMAL" />
		<result property="recoveryStore" column="RECOVERY_STORE" jdbcType="VARCHAR" />
		<result property="deviceId" column="DEVICE_ID" jdbcType="VARCHAR" />
		<result property="activityalias_" column="activityalias_" jdbcType="VARCHAR" />
		<result property="businessstate_" column="businessstate_" jdbcType="VARCHAR" />
</resultMap>
<!-- 分页查询 ASSETS_DEVICE_SCRAP -->
<select id="searchAssetsDeviceScrapByPage" parameterType="java.util.Map" resultMap="AssetsDeviceScrapDTOMap">
	select
		v.activityalias_                 ,
		v.businessstate_                 ,
		t1.id                             ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.created_by_person              ,
		t1.created_by_dept                ,
		t1.created_by_tel                 ,
		t1.form_state                     ,
		t1.proc_name                      ,
		t1.proc_id                        ,
		t1.asset_id                       ,
		t1.unified_id                     ,
		t1.device_category                ,
		t1.device_name                    ,
		t1.device_model                   ,
		t1.device_spec                    ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.original_value                 ,
		t1.total_depreciation             ,
		t1.net_value                      ,
		t1.net_salvage                    ,
		t1.secret_level                   ,
		t1.scrap_reason                   ,
		t1.product_risk_analyse           ,
		t1.scrap_money                    ,
		t1.recovery_store                 ,
		t1.device_id                      
	from assets_device_scrap 	t1 left join bpm_client_hist_procinst_v v on t1.id = v.formid_ 
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID =#{bean.id}
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like concat(concat('%',#{bean.createdBy}),'%') 
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like concat(concat('%',#{bean.creationDate}),'%') 
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like concat(concat('%',#{bean.lastUpdatedBy}),'%') 
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like concat(concat('%',#{bean.lastUpdateDate}),'%') 
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like concat(concat('%',#{bean.lastUpdateIp}),'%') 
			</if>
			<if test="bean.version != null ">
				and t1.VERSION like concat(concat('%',#{bean.version}),'%') 
			</if>
			<if test="bean.createdByPerson != null and bean.createdByPerson != ''">
				and t1.CREATED_BY_PERSON like concat(concat('%',#{bean.createdByPerson}),'%') 
			</if>
			<if test="bean.createdByDept != null and bean.createdByDept != ''">
				and t1.CREATED_BY_DEPT like concat(concat('%',#{bean.createdByDept}),'%') 
			</if>
			<if test="bean.createdByTel != null and bean.createdByTel != ''">
				and t1.CREATED_BY_TEL like concat(concat('%',#{bean.createdByTel}),'%') 
			</if>
			<if test="bean.formState != null and bean.formState != ''">
				and t1.FORM_STATE like concat(concat('%',#{bean.formState}),'%') 
			</if>
			<if test="bean.procName != null and bean.procName != ''">
				and t1.PROC_NAME like concat(concat('%',#{bean.procName}),'%') 
			</if>
			<if test="bean.procId != null and bean.procId != ''">
				and t1.PROC_ID like concat(concat('%',#{bean.procId}),'%') 
			</if>
			<if test="bean.assetId != null and bean.assetId != ''">
				and t1.ASSET_ID like concat(concat('%',#{bean.assetId}),'%') 
			</if>
			<if test="bean.unifiedId != null and bean.unifiedId != ''">
				and t1.UNIFIED_ID like concat(concat('%',#{bean.unifiedId}),'%') 
			</if>
			<if test="bean.deviceCategory != null and bean.deviceCategory != ''">
				and t1.DEVICE_CATEGORY like concat(concat('%',#{bean.deviceCategory}),'%') 
			</if>
			<if test="bean.deviceName != null and bean.deviceName != ''">
				and t1.DEVICE_NAME like concat(concat('%',#{bean.deviceName}),'%') 
			</if>
			<if test="bean.deviceModel != null and bean.deviceModel != ''">
				and t1.DEVICE_MODEL like concat(concat('%',#{bean.deviceModel}),'%') 
			</if>
			<if test="bean.deviceSpec != null and bean.deviceSpec != ''">
				and t1.DEVICE_SPEC like concat(concat('%',#{bean.deviceSpec}),'%') 
			</if>
			<if test="bean.ownerId != null and bean.ownerId != ''">
				and t1.OWNER_ID like concat(concat('%',#{bean.ownerId}),'%') 
			</if>
			<if test="bean.ownerDept != null and bean.ownerDept != ''">
				and t1.OWNER_DEPT like concat(concat('%',#{bean.ownerDept}),'%') 
			</if>
			<if test="bean.userId != null and bean.userId != ''">
				and t1.USER_ID like concat(concat('%',#{bean.userId}),'%') 
			</if>
			<if test="bean.userDept != null and bean.userDept != ''">
				and t1.USER_DEPT like concat(concat('%',#{bean.userDept}),'%') 
			</if>
			<if test="bean.manufacturerId != null and bean.manufacturerId != ''">
				and t1.MANUFACTURER_ID like concat(concat('%',#{bean.manufacturerId}),'%') 
			</if>
			<if test="bean.createdDateBegin != null and bean.createdDateBegin != ''">
				and t1.CREATED_DATE &gt;= #{bean.createdDateBegin}
			</if>
			<if test="bean.createdDateEnd != null and bean.createdDateEnd != ''">
				and t1.CREATED_DATE &lt;= #{bean.createdDateEnd}
			</if>
			<if test="bean.positionId != null and bean.positionId != ''">
				and t1.POSITION_ID like concat(concat('%',#{bean.positionId}),'%') 
			</if>
			<if test="bean.originalValue != null ">
				and t1.ORIGINAL_VALUE like concat(concat('%',#{bean.originalValue}),'%') 
			</if>
			<if test="bean.totalDepreciation != null ">
				and t1.TOTAL_DEPRECIATION like concat(concat('%',#{bean.totalDepreciation}),'%') 
			</if>
			<if test="bean.netValue != null ">
				and t1.NET_VALUE like concat(concat('%',#{bean.netValue}),'%') 
			</if>
			<if test="bean.netSalvage != null ">
				and t1.NET_SALVAGE like concat(concat('%',#{bean.netSalvage}),'%') 
			</if>
			<if test="bean.secretLevel != null and bean.secretLevel != ''">
				and t1.SECRET_LEVEL like concat(concat('%',#{bean.secretLevel}),'%') 
			</if>
			<if test="bean.scrapReason != null and bean.scrapReason != ''">
				and t1.SCRAP_REASON like concat(concat('%',#{bean.scrapReason}),'%') 
			</if>
			<if test="bean.productRiskAnalyse != null and bean.productRiskAnalyse != ''">
				and t1.PRODUCT_RISK_ANALYSE like concat(concat('%',#{bean.productRiskAnalyse}),'%') 
			</if>
			<if test="bean.scrapMoney != null ">
				and t1.SCRAP_MONEY like concat(concat('%',#{bean.scrapMoney}),'%') 
			</if>
			<if test="bean.recoveryStore != null and bean.recoveryStore != ''">
				and t1.RECOVERY_STORE like concat(concat('%',#{bean.recoveryStore}),'%') 
			</if>
			<if test="bean.deviceId != null and bean.deviceId != ''">
				and t1.DEVICE_ID like concat(concat('%',#{bean.deviceId}),'%') 
			</if>
						<if test="bean.bpmType !=null and bean.bpmType !='' and bean.bpmType == 'my'">
				 and exists (select 1 from BPM_CLIENT_HIST_TASK_V os where os.task_b_id_ = t1.id and os.assignee_ = #{bean.currUserId}) 
			</if>
			<if test="bean.bpmState != null and bean.bpmState !='' and bean.bpmState != 'all'">
				and v.businessstate_ = #{bean.bpmState}
			</if>
</if>
		</where>
		<choose>
			<when test="pOrderBy != null and pOrderBy != ''">
				order by ${pOrderBy}			
			</when>
			<otherwise>
				order by t1.creation_date desc
			</otherwise>
		</choose>
</select>
<!-- 分页查询 OrASSETS_DEVICE_SCRAP -->
<select id="searchAssetsDeviceScrapByPageOr" parameterType="java.util.Map" resultMap="AssetsDeviceScrapDTOMap">
	select
		v.activityalias_                 ,
		v.businessstate_                 ,
		t1.id                             ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.created_by_person              ,
		t1.created_by_dept                ,
		t1.created_by_tel                 ,
		t1.form_state                     ,
		t1.proc_name                      ,
		t1.proc_id                        ,
		t1.asset_id                       ,
		t1.unified_id                     ,
		t1.device_category                ,
		t1.device_name                    ,
		t1.device_model                   ,
		t1.device_spec                    ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.original_value                 ,
		t1.total_depreciation             ,
		t1.net_value                      ,
		t1.net_salvage                    ,
		t1.secret_level                   ,
		t1.scrap_reason                   ,
		t1.product_risk_analyse           ,
		t1.scrap_money                    ,
		t1.recovery_store                 ,
		t1.device_id                      
	from assets_device_scrap  t1 left join bpm_client_hist_procinst_v v on t1.id = v.formid_ 
		<where>
			<if test="bean != null">
			<trim prefix="(" suffix=")" prefixOverrides="or">
			<if test="bean.id != null and bean.id != ''">
				or t1.ID =#{bean.id}
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				or t1.CREATED_BY like concat(concat('%',#{bean.createdBy}),'%')  
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				or t1.CREATION_DATE like concat(concat('%',#{bean.creationDate}),'%')  
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				or t1.LAST_UPDATED_BY like concat(concat('%',#{bean.lastUpdatedBy}),'%')  
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				or t1.LAST_UPDATE_DATE like concat(concat('%',#{bean.lastUpdateDate}),'%')  
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				or t1.LAST_UPDATE_IP like concat(concat('%',#{bean.lastUpdateIp}),'%')  
			</if>
			<if test="bean.version != null">
				or t1.VERSION like concat(concat('%',#{bean.version}),'%')  
			</if>
			<if test="bean.createdByPerson != null and bean.createdByPerson != ''">
				or t1.CREATED_BY_PERSON like concat(concat('%',#{bean.createdByPerson}),'%')  
			</if>
			<if test="bean.createdByDept != null and bean.createdByDept != ''">
				or t1.CREATED_BY_DEPT like concat(concat('%',#{bean.createdByDept}),'%')  
			</if>
			<if test="bean.createdByTel != null and bean.createdByTel != ''">
				or t1.CREATED_BY_TEL like concat(concat('%',#{bean.createdByTel}),'%')  
			</if>
			<if test="bean.formState != null and bean.formState != ''">
				or t1.FORM_STATE like concat(concat('%',#{bean.formState}),'%')  
			</if>
			<if test="bean.procName != null and bean.procName != ''">
				or t1.PROC_NAME like concat(concat('%',#{bean.procName}),'%')  
			</if>
			<if test="bean.procId != null and bean.procId != ''">
				or t1.PROC_ID like concat(concat('%',#{bean.procId}),'%')  
			</if>
			<if test="bean.assetId != null and bean.assetId != ''">
				or t1.ASSET_ID like concat(concat('%',#{bean.assetId}),'%')  
			</if>
			<if test="bean.unifiedId != null and bean.unifiedId != ''">
				or t1.UNIFIED_ID like concat(concat('%',#{bean.unifiedId}),'%')  
			</if>
			<if test="bean.deviceCategory != null and bean.deviceCategory != ''">
				or t1.DEVICE_CATEGORY like concat(concat('%',#{bean.deviceCategory}),'%')  
			</if>
			<if test="bean.deviceName != null and bean.deviceName != ''">
				or t1.DEVICE_NAME like concat(concat('%',#{bean.deviceName}),'%')  
			</if>
			<if test="bean.deviceModel != null and bean.deviceModel != ''">
				or t1.DEVICE_MODEL like concat(concat('%',#{bean.deviceModel}),'%')  
			</if>
			<if test="bean.deviceSpec != null and bean.deviceSpec != ''">
				or t1.DEVICE_SPEC like concat(concat('%',#{bean.deviceSpec}),'%')  
			</if>
			<if test="bean.ownerId != null and bean.ownerId != ''">
				or t1.OWNER_ID like concat(concat('%',#{bean.ownerId}),'%')  
			</if>
			<if test="bean.ownerDept != null and bean.ownerDept != ''">
				or t1.OWNER_DEPT like concat(concat('%',#{bean.ownerDept}),'%')  
			</if>
			<if test="bean.userId != null and bean.userId != ''">
				or t1.USER_ID like concat(concat('%',#{bean.userId}),'%')  
			</if>
			<if test="bean.userDept != null and bean.userDept != ''">
				or t1.USER_DEPT like concat(concat('%',#{bean.userDept}),'%')  
			</if>
			<if test="bean.manufacturerId != null and bean.manufacturerId != ''">
				or t1.MANUFACTURER_ID like concat(concat('%',#{bean.manufacturerId}),'%')  
			</if>
			<if test="bean.createdDateBegin != null and bean.createdDateBegin != ''">
				or t1.CREATED_DATE &gt;= #{bean.createdDateBegin}
			</if>
			<if test="bean.createdDateEnd != null and bean.createdDateEnd != ''">
				or t1.CREATED_DATE &lt;= #{bean.createdDateEnd}
			</if>
			<if test="bean.positionId != null and bean.positionId != ''">
				or t1.POSITION_ID like concat(concat('%',#{bean.positionId}),'%')  
			</if>
			<if test="bean.originalValue != null">
				or t1.ORIGINAL_VALUE like concat(concat('%',#{bean.originalValue}),'%')  
			</if>
			<if test="bean.totalDepreciation != null">
				or t1.TOTAL_DEPRECIATION like concat(concat('%',#{bean.totalDepreciation}),'%')  
			</if>
			<if test="bean.netValue != null">
				or t1.NET_VALUE like concat(concat('%',#{bean.netValue}),'%')  
			</if>
			<if test="bean.netSalvage != null">
				or t1.NET_SALVAGE like concat(concat('%',#{bean.netSalvage}),'%')  
			</if>
			<if test="bean.secretLevel != null and bean.secretLevel != ''">
				or t1.SECRET_LEVEL like concat(concat('%',#{bean.secretLevel}),'%')  
			</if>
			<if test="bean.scrapReason != null and bean.scrapReason != ''">
				or t1.SCRAP_REASON like concat(concat('%',#{bean.scrapReason}),'%')  
			</if>
			<if test="bean.productRiskAnalyse != null and bean.productRiskAnalyse != ''">
				or t1.PRODUCT_RISK_ANALYSE like concat(concat('%',#{bean.productRiskAnalyse}),'%')  
			</if>
			<if test="bean.scrapMoney != null">
				or t1.SCRAP_MONEY like concat(concat('%',#{bean.scrapMoney}),'%')  
			</if>
			<if test="bean.recoveryStore != null and bean.recoveryStore != ''">
				or t1.RECOVERY_STORE like concat(concat('%',#{bean.recoveryStore}),'%')  
			</if>
			<if test="bean.deviceId != null and bean.deviceId != ''">
				or t1.DEVICE_ID like concat(concat('%',#{bean.deviceId}),'%')  
			</if>
			</trim>
			<if test="bean.bpmType !=null and bean.bpmType !='' and bean.bpmType == 'my'">
				 and exists (select 1 from BPM_CLIENT_HIST_TASK_V os where os.task_b_id_ = t1.id and os.assignee_ = #{bean.currUserId}) 
			</if>
			<if test="bean.bpmState != null and bean.bpmState !='' and bean.bpmState != 'all'">
				and v.businessstate_ = #{bean.bpmState}
			</if>
			</if>
		</where>
		<choose>
			<when test="pOrderBy != null and pOrderBy != ''">
				order by ${pOrderBy}			
			</when>
			<otherwise>
				order by t1.creation_date desc
			</otherwise>
		</choose>
</select>
<!-- 查询列表 ASSETS_DEVICE_SCRAP -->
<select id="searchAssetsDeviceScrap" parameterType="java.util.Map" resultMap="AssetsDeviceScrapDTOMap">
	select
		v.activityalias_                 ,
		v.businessstate_                 ,
		t1.id                             ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.created_by_person              ,
		t1.created_by_dept                ,
		t1.created_by_tel                 ,
		t1.form_state                     ,
		t1.proc_name                      ,
		t1.proc_id                        ,
		t1.asset_id                       ,
		t1.unified_id                     ,
		t1.device_category                ,
		t1.device_name                    ,
		t1.device_model                   ,
		t1.device_spec                    ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.original_value                 ,
		t1.total_depreciation             ,
		t1.net_value                      ,
		t1.net_salvage                    ,
		t1.secret_level                   ,
		t1.scrap_reason                   ,
		t1.product_risk_analyse           ,
		t1.scrap_money                    ,
		t1.recovery_store                 ,
		t1.device_id                      
	from assets_device_scrap 	t1 left join bpm_client_hist_procinst_v v on t1.id = v.formid_ 
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null">
				and t1.VERSION =#{version}
			</if>
			<if test="createdByPerson != null and createdByPerson != ''">
				and t1.CREATED_BY_PERSON =#{createdByPerson}
			</if>
			<if test="createdByDept != null and createdByDept != ''">
				and t1.CREATED_BY_DEPT =#{createdByDept}
			</if>
			<if test="createdByTel != null and createdByTel != ''">
				and t1.CREATED_BY_TEL =#{createdByTel}
			</if>
			<if test="formState != null and formState != ''">
				and t1.FORM_STATE =#{formState}
			</if>
			<if test="procName != null and procName != ''">
				and t1.PROC_NAME =#{procName}
			</if>
			<if test="procId != null and procId != ''">
				and t1.PROC_ID =#{procId}
			</if>
			<if test="assetId != null and assetId != ''">
				and t1.ASSET_ID =#{assetId}
			</if>
			<if test="unifiedId != null and unifiedId != ''">
				and t1.UNIFIED_ID =#{unifiedId}
			</if>
			<if test="deviceCategory != null and deviceCategory != ''">
				and t1.DEVICE_CATEGORY =#{deviceCategory}
			</if>
			<if test="deviceName != null and deviceName != ''">
				and t1.DEVICE_NAME =#{deviceName}
			</if>
			<if test="deviceModel != null and deviceModel != ''">
				and t1.DEVICE_MODEL =#{deviceModel}
			</if>
			<if test="deviceSpec != null and deviceSpec != ''">
				and t1.DEVICE_SPEC =#{deviceSpec}
			</if>
			<if test="ownerId != null and ownerId != ''">
				and t1.OWNER_ID =#{ownerId}
			</if>
			<if test="ownerDept != null and ownerDept != ''">
				and t1.OWNER_DEPT =#{ownerDept}
			</if>
			<if test="userId != null and userId != ''">
				and t1.USER_ID =#{userId}
			</if>
			<if test="userDept != null and userDept != ''">
				and t1.USER_DEPT =#{userDept}
			</if>
			<if test="manufacturerId != null and manufacturerId != ''">
				and t1.MANUFACTURER_ID =#{manufacturerId}
			</if>
			<if test="createdDateBegin != null and createdDateBegin != ''">
				and t1.CREATED_DATE &gt;= #{createdDateBegin}
			</if>
			<if test="createdDateEnd != null and createdDateEnd != ''">
				and t1.CREATED_DATE &lt;= #{createdDateEnd}
			</if>
			<if test="positionId != null and positionId != ''">
				and t1.POSITION_ID =#{positionId}
			</if>
			<if test="originalValue != null">
				and t1.ORIGINAL_VALUE =#{originalValue}
			</if>
			<if test="totalDepreciation != null">
				and t1.TOTAL_DEPRECIATION =#{totalDepreciation}
			</if>
			<if test="netValue != null">
				and t1.NET_VALUE =#{netValue}
			</if>
			<if test="netSalvage != null">
				and t1.NET_SALVAGE =#{netSalvage}
			</if>
			<if test="secretLevel != null and secretLevel != ''">
				and t1.SECRET_LEVEL =#{secretLevel}
			</if>
			<if test="scrapReason != null and scrapReason != ''">
				and t1.SCRAP_REASON =#{scrapReason}
			</if>
			<if test="productRiskAnalyse != null and productRiskAnalyse != ''">
				and t1.PRODUCT_RISK_ANALYSE =#{productRiskAnalyse}
			</if>
			<if test="scrapMoney != null">
				and t1.SCRAP_MONEY =#{scrapMoney}
			</if>
			<if test="recoveryStore != null and recoveryStore != ''">
				and t1.RECOVERY_STORE =#{recoveryStore}
			</if>
			<if test="deviceId != null and deviceId != ''">
				and t1.DEVICE_ID =#{deviceId}
			</if>
			<if test="bpmType !=null and bpmType !='' and bpmType == 'my'">
				 and exists (select 1 from BPM_CLIENT_HIST_TASK_V os where os.task_b_id_ = t1.id and os.assignee_ = #{currUserId}) 
			</if>
			<if test="bpmState != null and bpmState !='' and bpmState != 'all'">
				and v.businessstate_ = #{bpmState}
			</if>
		</where>
</select>
<!-- 主键查询对象 ASSETS_DEVICE_SCRAP -->
<select id="findAssetsDeviceScrapById" parameterType="java.util.Map" resultMap="AssetsDeviceScrapDTOMap">
	select
		t1.id                             ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.created_by_person              ,
		t1.created_by_dept                ,
		t1.created_by_tel                 ,
		t1.form_state                     ,
		t1.proc_name                      ,
		t1.proc_id                        ,
		t1.asset_id                       ,
		t1.unified_id                     ,
		t1.device_category                ,
		t1.device_name                    ,
		t1.device_model                   ,
		t1.device_spec                    ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.original_value                 ,
		t1.total_depreciation             ,
		t1.net_value                      ,
		t1.net_salvage                    ,
		t1.secret_level                   ,
		t1.scrap_reason                   ,
		t1.product_risk_analyse           ,
		t1.scrap_money                    ,
		t1.recovery_store                 ,
		t1.device_id                      
	from assets_device_scrap 	t1
		where t1.id = #{id}
</select>
<!-- 新增对象 ASSETS_DEVICE_SCRAP -->
<insert id="insertAssetsDeviceScrap" parameterType="avicit.assets.device.assetsdevicescrap.dto.AssetsDeviceScrapDTO">
	insert into assets_device_scrap
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createdByPerson != null">
				created_by_person,
			</if>
			<if test="createdByDept != null">
				created_by_dept,
			</if>
			<if test="createdByTel != null">
				created_by_tel,
			</if>
			<if test="formState != null">
				form_state,
			</if>
			<if test="procName != null">
				proc_name,
			</if>
			<if test="procId != null">
				proc_id,
			</if>
			<if test="assetId != null">
				asset_id,
			</if>
			<if test="unifiedId != null">
				unified_id,
			</if>
			<if test="deviceCategory != null">
				device_category,
			</if>
			<if test="deviceName != null">
				device_name,
			</if>
			<if test="deviceModel != null">
				device_model,
			</if>
			<if test="deviceSpec != null">
				device_spec,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
			<if test="ownerDept != null">
				owner_dept,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userDept != null">
				user_dept,
			</if>
			<if test="manufacturerId != null">
				manufacturer_id,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="positionId != null">
				position_id,
			</if>
			<if test="originalValue != null">
				original_value,
			</if>
			<if test="totalDepreciation != null">
				total_depreciation,
			</if>
			<if test="netValue != null">
				net_value,
			</if>
			<if test="netSalvage != null">
				net_salvage,
			</if>
			<if test="secretLevel != null">
				secret_level,
			</if>
			<if test="scrapReason != null">
				scrap_reason,
			</if>
			<if test="productRiskAnalyse != null">
				product_risk_analyse,
			</if>
			<if test="scrapMoney != null">
				scrap_money,
			</if>
			<if test="recoveryStore != null">
				recovery_store,
			</if>
			<if test="deviceId != null">
				device_id,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="createdByPerson != null">
				#{createdByPerson,jdbcType=VARCHAR},
			</if>
			<if test="createdByDept != null">
				#{createdByDept,jdbcType=VARCHAR},
			</if>
			<if test="createdByTel != null">
				#{createdByTel,jdbcType=VARCHAR},
			</if>
			<if test="formState != null">
				#{formState,jdbcType=VARCHAR},
			</if>
			<if test="procName != null">
				#{procName,jdbcType=VARCHAR},
			</if>
			<if test="procId != null">
				#{procId,jdbcType=VARCHAR},
			</if>
			<if test="assetId != null">
				#{assetId,jdbcType=VARCHAR},
			</if>
			<if test="unifiedId != null">
				#{unifiedId,jdbcType=VARCHAR},
			</if>
			<if test="deviceCategory != null">
				#{deviceCategory,jdbcType=VARCHAR},
			</if>
			<if test="deviceName != null">
				#{deviceName,jdbcType=VARCHAR},
			</if>
			<if test="deviceModel != null">
				#{deviceModel,jdbcType=VARCHAR},
			</if>
			<if test="deviceSpec != null">
				#{deviceSpec,jdbcType=VARCHAR},
			</if>
			<if test="ownerId != null">
				#{ownerId,jdbcType=VARCHAR},
			</if>
			<if test="ownerDept != null">
				#{ownerDept,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userDept != null">
				#{userDept,jdbcType=VARCHAR},
			</if>
			<if test="manufacturerId != null">
				#{manufacturerId,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=DATE},
			</if>
			<if test="positionId != null">
				#{positionId,jdbcType=VARCHAR},
			</if>
			<if test="originalValue != null">
				#{originalValue,jdbcType=DECIMAL},
			</if>
			<if test="totalDepreciation != null">
				#{totalDepreciation,jdbcType=DECIMAL},
			</if>
			<if test="netValue != null">
				#{netValue,jdbcType=DECIMAL},
			</if>
			<if test="netSalvage != null">
				#{netSalvage,jdbcType=DECIMAL},
			</if>
			<if test="secretLevel != null">
				#{secretLevel,jdbcType=VARCHAR},
			</if>
			<if test="scrapReason != null">
				#{scrapReason,jdbcType=VARCHAR},
			</if>
			<if test="productRiskAnalyse != null">
				#{productRiskAnalyse,jdbcType=VARCHAR},
			</if>
			<if test="scrapMoney != null">
				#{scrapMoney,jdbcType=DECIMAL},
			</if>
			<if test="recoveryStore != null">
				#{recoveryStore,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null">
				#{deviceId,jdbcType=VARCHAR},
			</if>
	</trim>
</insert>
<!-- 批量新增对象 ASSETS_DEVICE_SCRAP -->
<insert id="insertAssetsDeviceScrapList" parameterType="java.util.List">
	insert into assets_device_scrap(
			id,
			created_by,
			creation_date,
			last_updated_by,
			last_update_date,
			last_update_ip,
			version,
			created_by_person,
			created_by_dept,
			created_by_tel,
			form_state,
			proc_name,
			proc_id,
			asset_id,
			unified_id,
			device_category,
			device_name,
			device_model,
			device_spec,
			owner_id,
			owner_dept,
			user_id,
			user_dept,
			manufacturer_id,
			created_date,
			position_id,
			original_value,
			total_depreciation,
			net_value,
			net_salvage,
			secret_level,
			scrap_reason,
			product_risk_analyse,
			scrap_money,
			recovery_store,
			device_id)
	<foreach collection="list" item="item" index="index" open="(" separator="union all" close=")">
		select 
					#{item.id,jdbcType=VARCHAR},
					#{item.createdBy,jdbcType=VARCHAR},
					#{item.creationDate},
					#{item.lastUpdatedBy,jdbcType=VARCHAR},
					#{item.lastUpdateDate},
					#{item.lastUpdateIp,jdbcType=VARCHAR},
					#{item.version,jdbcType=DECIMAL},
					#{item.createdByPerson,jdbcType=VARCHAR},
					#{item.createdByDept,jdbcType=VARCHAR},
					#{item.createdByTel,jdbcType=VARCHAR},
					#{item.formState,jdbcType=VARCHAR},
					#{item.procName,jdbcType=VARCHAR},
					#{item.procId,jdbcType=VARCHAR},
					#{item.assetId,jdbcType=VARCHAR},
					#{item.unifiedId,jdbcType=VARCHAR},
					#{item.deviceCategory,jdbcType=VARCHAR},
					#{item.deviceName,jdbcType=VARCHAR},
					#{item.deviceModel,jdbcType=VARCHAR},
					#{item.deviceSpec,jdbcType=VARCHAR},
					#{item.ownerId,jdbcType=VARCHAR},
					#{item.ownerDept,jdbcType=VARCHAR},
					#{item.userId,jdbcType=VARCHAR},
					#{item.userDept,jdbcType=VARCHAR},
					#{item.manufacturerId,jdbcType=VARCHAR},
					#{item.createdDate,jdbcType=DATE},
					#{item.positionId,jdbcType=VARCHAR},
					#{item.originalValue,jdbcType=DECIMAL},
					#{item.totalDepreciation,jdbcType=DECIMAL},
					#{item.netValue,jdbcType=DECIMAL},
					#{item.netSalvage,jdbcType=DECIMAL},
					#{item.secretLevel,jdbcType=VARCHAR},
					#{item.scrapReason,jdbcType=VARCHAR},
					#{item.productRiskAnalyse,jdbcType=VARCHAR},
					#{item.scrapMoney,jdbcType=DECIMAL},
					#{item.recoveryStore,jdbcType=VARCHAR},
					#{item.deviceId,jdbcType=VARCHAR}
		from dual 
	</foreach>
</insert>
<!-- 更新对象 ASSETS_DEVICE_SCRAP -->
<update id="updateAssetsDeviceScrapSensitive" parameterType="avicit.assets.device.assetsdevicescrap.dto.AssetsDeviceScrapDTO">
	update assets_device_scrap 
	<set>
			<if test="id != null">
				id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version                        =version+1,
			</if>
			<if test="createdByPerson != null">
				created_by_person              =#{createdByPerson,jdbcType=VARCHAR},
			</if>
			<if test="createdByDept != null">
				created_by_dept                =#{createdByDept,jdbcType=VARCHAR},
			</if>
			<if test="createdByTel != null">
				created_by_tel                 =#{createdByTel,jdbcType=VARCHAR},
			</if>
			<if test="formState != null">
				form_state                     =#{formState,jdbcType=VARCHAR},
			</if>
			<if test="procName != null">
				proc_name                      =#{procName,jdbcType=VARCHAR},
			</if>
			<if test="procId != null">
				proc_id                        =#{procId,jdbcType=VARCHAR},
			</if>
			<if test="assetId != null">
				asset_id                       =#{assetId,jdbcType=VARCHAR},
			</if>
			<if test="unifiedId != null">
				unified_id                     =#{unifiedId,jdbcType=VARCHAR},
			</if>
			<if test="deviceCategory != null">
				device_category                =#{deviceCategory,jdbcType=VARCHAR},
			</if>
			<if test="deviceName != null">
				device_name                    =#{deviceName,jdbcType=VARCHAR},
			</if>
			<if test="deviceModel != null">
				device_model                   =#{deviceModel,jdbcType=VARCHAR},
			</if>
			<if test="deviceSpec != null">
				device_spec                    =#{deviceSpec,jdbcType=VARCHAR},
			</if>
			<if test="ownerId != null">
				owner_id                       =#{ownerId,jdbcType=VARCHAR},
			</if>
			<if test="ownerDept != null">
				owner_dept                     =#{ownerDept,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id                        =#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userDept != null">
				user_dept                      =#{userDept,jdbcType=VARCHAR},
			</if>
			<if test="manufacturerId != null">
				manufacturer_id                =#{manufacturerId,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				created_date                   =#{createdDate,jdbcType=DATE},
			</if>
			<if test="positionId != null">
				position_id                    =#{positionId,jdbcType=VARCHAR},
			</if>
			<if test="originalValue != null">
				original_value                 =#{originalValue,jdbcType=DECIMAL},
			</if>
			<if test="totalDepreciation != null">
				total_depreciation             =#{totalDepreciation,jdbcType=DECIMAL},
			</if>
			<if test="netValue != null">
				net_value                      =#{netValue,jdbcType=DECIMAL},
			</if>
			<if test="netSalvage != null">
				net_salvage                    =#{netSalvage,jdbcType=DECIMAL},
			</if>
			<if test="secretLevel != null">
				secret_level                   =#{secretLevel,jdbcType=VARCHAR},
			</if>
			<if test="scrapReason != null">
				scrap_reason                   =#{scrapReason,jdbcType=VARCHAR},
			</if>
			<if test="productRiskAnalyse != null">
				product_risk_analyse           =#{productRiskAnalyse,jdbcType=VARCHAR},
			</if>
			<if test="scrapMoney != null">
				scrap_money                    =#{scrapMoney,jdbcType=DECIMAL},
			</if>
			<if test="recoveryStore != null">
				recovery_store                 =#{recoveryStore,jdbcType=VARCHAR},
			</if>
			<if test="deviceId != null">
				device_id                      =#{deviceId,jdbcType=VARCHAR},
			</if>
	</set>
		where id = #{id} and version =#{version}
</update>
<!-- 更新对象 ASSETS_DEVICE_SCRAP -->
<update id="updateAssetsDeviceScrapAll" parameterType="avicit.assets.device.assetsdevicescrap.dto.AssetsDeviceScrapDTO">
	update assets_device_scrap 
		set
			id                             =#{id,jdbcType=VARCHAR},
			created_by                     =#{createdBy,jdbcType=VARCHAR},
			creation_date                  =#{creationDate},
			last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			last_update_date               =#{lastUpdateDate},
			last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			created_by_person              =#{createdByPerson,jdbcType=VARCHAR},
			created_by_dept                =#{createdByDept,jdbcType=VARCHAR},
			created_by_tel                 =#{createdByTel,jdbcType=VARCHAR},
			form_state                     =#{formState,jdbcType=VARCHAR},
			proc_name                      =#{procName,jdbcType=VARCHAR},
			proc_id                        =#{procId,jdbcType=VARCHAR},
			asset_id                       =#{assetId,jdbcType=VARCHAR},
			unified_id                     =#{unifiedId,jdbcType=VARCHAR},
			device_category                =#{deviceCategory,jdbcType=VARCHAR},
			device_name                    =#{deviceName,jdbcType=VARCHAR},
			device_model                   =#{deviceModel,jdbcType=VARCHAR},
			device_spec                    =#{deviceSpec,jdbcType=VARCHAR},
			owner_id                       =#{ownerId,jdbcType=VARCHAR},
			owner_dept                     =#{ownerDept,jdbcType=VARCHAR},
			user_id                        =#{userId,jdbcType=VARCHAR},
			user_dept                      =#{userDept,jdbcType=VARCHAR},
			manufacturer_id                =#{manufacturerId,jdbcType=VARCHAR},
			created_date                   =#{createdDate,jdbcType=DATE},
			position_id                    =#{positionId,jdbcType=VARCHAR},
			original_value                 =#{originalValue,jdbcType=DECIMAL},
			total_depreciation             =#{totalDepreciation,jdbcType=DECIMAL},
			net_value                      =#{netValue,jdbcType=DECIMAL},
			net_salvage                    =#{netSalvage,jdbcType=DECIMAL},
			secret_level                   =#{secretLevel,jdbcType=VARCHAR},
			scrap_reason                   =#{scrapReason,jdbcType=VARCHAR},
			product_risk_analyse           =#{productRiskAnalyse,jdbcType=VARCHAR},
			scrap_money                    =#{scrapMoney,jdbcType=DECIMAL},
			recovery_store                 =#{recoveryStore,jdbcType=VARCHAR},
			device_id                      =#{deviceId,jdbcType=VARCHAR}
	where id = #{id} and version =#{version}
</update>
<!-- 批量更新对象   ASSETS_DEVICE_SCRAP -->
<update id="updateAssetsDeviceScrapList" parameterType="java.util.List">
	<foreach collection="dtoList" item="item" index="index" open="begin" separator="" close="end;">
	update assets_device_scrap 
		set
			id                             =#{item.id,jdbcType=VARCHAR},
			created_by                     =#{item.createdBy,jdbcType=VARCHAR},
			creation_date                  =#{item.creationDate},
			last_updated_by                =#{item.lastUpdatedBy,jdbcType=VARCHAR},
			last_update_date               =#{item.lastUpdateDate},
			last_update_ip                 =#{item.lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			created_by_person              =#{item.createdByPerson,jdbcType=VARCHAR},
			created_by_dept                =#{item.createdByDept,jdbcType=VARCHAR},
			created_by_tel                 =#{item.createdByTel,jdbcType=VARCHAR},
			form_state                     =#{item.formState,jdbcType=VARCHAR},
			proc_name                      =#{item.procName,jdbcType=VARCHAR},
			proc_id                        =#{item.procId,jdbcType=VARCHAR},
			asset_id                       =#{item.assetId,jdbcType=VARCHAR},
			unified_id                     =#{item.unifiedId,jdbcType=VARCHAR},
			device_category                =#{item.deviceCategory,jdbcType=VARCHAR},
			device_name                    =#{item.deviceName,jdbcType=VARCHAR},
			device_model                   =#{item.deviceModel,jdbcType=VARCHAR},
			device_spec                    =#{item.deviceSpec,jdbcType=VARCHAR},
			owner_id                       =#{item.ownerId,jdbcType=VARCHAR},
			owner_dept                     =#{item.ownerDept,jdbcType=VARCHAR},
			user_id                        =#{item.userId,jdbcType=VARCHAR},
			user_dept                      =#{item.userDept,jdbcType=VARCHAR},
			manufacturer_id                =#{item.manufacturerId,jdbcType=VARCHAR},
			created_date                   =#{item.createdDate,jdbcType=DATE},
			position_id                    =#{item.positionId,jdbcType=VARCHAR},
			original_value                 =#{item.originalValue,jdbcType=DECIMAL},
			total_depreciation             =#{item.totalDepreciation,jdbcType=DECIMAL},
			net_value                      =#{item.netValue,jdbcType=DECIMAL},
			net_salvage                    =#{item.netSalvage,jdbcType=DECIMAL},
			secret_level                   =#{item.secretLevel,jdbcType=VARCHAR},
			scrap_reason                   =#{item.scrapReason,jdbcType=VARCHAR},
			product_risk_analyse           =#{item.productRiskAnalyse,jdbcType=VARCHAR},
			scrap_money                    =#{item.scrapMoney,jdbcType=DECIMAL},
			recovery_store                 =#{item.recoveryStore,jdbcType=VARCHAR},
			device_id                      =#{item.deviceId,jdbcType=VARCHAR}
		where id = #{item.id} and version =#{item.version};
	</foreach>
</update>
<!-- 主键删除 ASSETS_DEVICE_SCRAP -->
<delete id="deleteAssetsDeviceScrapById" parameterType="java.lang.String">
		delete from assets_device_scrap  where  id = #{id}
</delete>
<!-- 批量主键删除 ASSETS_DEVICE_SCRAP -->
<delete id="deleteAssetsDeviceScrapList" parameterType="java.util.List">
		delete from assets_device_scrap  t1
		<where>
			<foreach item="idItem" collection="list" open="(" separator="or" close=")">
				t1.id = #{idItem}
			</foreach>
		</where>
</delete>
</mapper>