/** 表格工具栏 */
.toolbar{
	display: table;
	width: 100%;
	padding: 0 10px 0 10px;
}

.toolbar .toolbar-left{
	margin: 0;
	float: left;
}

.toolbar .toolbar-right{
	margin: 0;
	float: right;
}

.caret {
	border-top:4px solid;
}

.toolbar .workflow-select{
	position: relative;
	display:inline-block;
	width: 80px;
	margin:0px;
	padding:5px;
	margin-right: -1px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	float: left;
}

.toolbar .btn-link{
	text-decoration: none;
}
/** 表格工具栏 end */

/** 表格编辑 */
.jqgrow .edit-cell{
	padding: 0px !important;
	overflow: visible !important;
}

.cell-edit-cell {
	position: relative;
}

.cell-edit-contend{
	position: absolute;
	z-index: 999;
	background: #fff;
	width: 100%;
	border: 1px solid #f3f3f3;
	border-radius: 2px;
	overflow: auto;
}

.cell-edit-contend-up {
	bottom: 32px;
}

.cell-edit-contend div{
	margin: 5px;
	overflow: hidden;
}

.cell-edit-contend div input{
	vertical-align: text-top;
}

.cell-edit-contend div label{
	margin-left: 6px;
	margin-bottom: 0px;
}
/** 表格编辑 end */

/** 高级查询  */
.searchTabs {
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	line-height: 25px;
	position: absolute;
	top: -30px;
	right: 0px;
	font-size: 14px;
	background-color: #ffffff;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	z-index: -1;
	cursor: pointer;
}
/** 高级查询 end */

/** form表单  */
.form-footer{
	height: 45px;
	text-align: right;
	padding: 5px 15px 5px 0;
}
/** form表单 end  */

.serachLabel {
	text-align: center;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: -32px;
    right: 0px;
    font-size: 14px;
    background-color: #ffffff;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
.serachLabel .caret {
	margin-left:0;
	margin-right:2px;
}
