<%@page pageEncoding="UTF-8"%>
<div id="transition" class="prop_wrap" style="display:none">
	<form id="jbxx" action="" class="form-horizontal">
	  <div class="avic-flow-default-theme">
                <div class="twoTabNav" style="width: 100%">
                    <!-- 标签主体Start -->
                    <ul class="nav-tabs">
                        <li class="active">
                            <a href="javascript:void(0)">基本信息</a>
                        </li>
                        <li class="" <c:if test="${isUflow == '2'}">style="display:none"</c:if>>
                            <a href="javascript:void(0)">路由条件</a>
                        </li>
                        <li class="" <c:if test="${isUflow == '2'}">style="display:none"</c:if>>
                            <a href="javascript:void(0)">流转事件</a>
                        </li>
                        <li class="" <c:if test="${isUflow == '2'}">style="display:none"</c:if>>
                            <a href="javascript:void(0)">超时流转</a>
                        </li>
                    </ul>
                    <ul class="tab-cont">
                        <li class="active">
                            <div class="demoCont">
                            <!-- html: 基本信息 开始 -->
                            	<div class="base_info">
                                  <div class="row base_info_bar" >
                                        <div class="label form-process-separate-label"><span>基本</span></div>
                                    </div>
                                    <div class="form-group" style='padding-top: 5px;'>
                                        <label for="" class="col-xs-3 col-xs-offset-1 control-label form-process-properties-label">显示名称</label>
                                        <div class="col-xs-8 form-process-properties-value">
                                            <input type="text" class="form-control" id="xian_shi_ming_cheng" name="xian_shi_ming_cheng">
                                        </div>
                                    </div>
                                    <div class="form-group" style='padding-top: 5px;'>
                                        <label for="" class="col-xs-3 col-xs-offset-1 control-label form-process-properties-label">逻辑标识</label>
                                        <div class="col-xs-8 form-process-properties-value">
                                            <input type="text" class="form-control" id="luo_ji_biao_shi" name="luo_ji_biao_shi" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group" style='padding-top: 5px;'>
                                        <label for="" class="col-xs-3 col-xs-offset-1 control-label form-process-properties-label">显示顺序</label>
                                        <div class="col-xs-8 form-process-properties-value">
                                            <input type="text" class="form-control num_only" id="xian_shi_shun_xu" name="xian_shi_shun_xu" >
                                        </div>
                                    </div>
                                    <div class="form-group" style='padding-top: 5px;'>
                                        <label for="" class="col-xs-3 col-xs-offset-1 control-label form-process-properties-label">描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述</label>
                                        <div class="col-xs-8 form-process-properties-value">
                                            <input type="text" class="form-control" id="miao_shu" name="miao_shu">
                                        </div>
                                    </div>
                                    <div class="candidate">
                                        <div class="form-group" style='padding-top: 5px;'>
                                            <label for="" class="col-xs-3 col-xs-offset-1 control-label form-process-properties-label" >目标接收人</label>
                                            <div class="col-xs-8 form-process-properties-value" id="draft-candidate-container" style="padding-left: 0px;padding-right: 0px;">
                                                <input type="hidden" id="draft-candidate-data-field" name="draft-candidate-data-field">
                                                <textarea class="form-control" id="draft-candidate-text-field" rows="3" name="draft-candidate-text-field" placeholder="请选择用户" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3 col-xs-offset-8 button-fix button-margin-left-fix">
                                                <button type="button" class="btn btn-default form-tool-btn btn-sm form-buttion-fix" name="btn-add-candidate">添加</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- html: 基本信息 结束 -->
                            </div>
                        </li>
                        
                        <li <c:if test="${isUflow == '2'}">style="display:none"</c:if>>
                          <!-- html: 路由条件 开始 -->
                            <div class="demoCont">
                                <ul class="global-attrs-tab">
                                    <li class="active">
                                        <label class="form-process-properties-label">
                                            <input type="radio" name="input-radio-condition_type" checked value="Expr" />Expr类型
                                        </label>
                                    </li>
                                    <li>
                                        <label class="form-process-properties-label">
                                            <input type="radio" name="input-radio-condition_type" value="Class" />Class类型
                                        </label>
                                    </li>
                                    <li>
                                        <label class="form-process-properties-label">
                                            <input type="radio" name="input-radio-condition_type" value="exprConfig" />表达式配置
                                        </label>
                                    </li>
                                    <li>
                                        <label class="form-process-properties-label">
                                            <input type="radio" name="input-radio-condition_type" value="jScript" />JS脚本类型
                                        </label>
                                    </li>
                                </ul>
                                <ul class="tab-cont">
                                    <li class="active">
                                        <div class="row">
                                            <div class="col-xs-12 clear-left-right-padding">
                                                <textarea rows="4" class="form-control col-xs-12" id="expr-config-value"></textarea>
                                            </div>
                                        </div>
                                        <div class="" style="margin-top: 6px;">
                                            <div class="col-xs-9 clear-left-right-padding">
                                                <select class="form-control" id="yin_ru_bian_liang" name="yin_ru_bian_liang">
                                                	<option selected value="0">引入变量</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-3   button-fix">
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix" name="btn-add-start-condition" tabIndex="0">添加</button>
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix hidden" name="btn-save-start-condition" tabIndex="0">保存</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group ">
                                            <label class="col-xs-3 control-label form-process-properties-label">条件选择</label>
                                            <div class="col-xs-9 form-process-properties-value">
                                                <select class="form-control col-xs-12" name="routeConditionSelect">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-11 form-process-properties-value col-xs-offset-1">
                                                <input type="text" class="form-control col-xs-11" placeholder="">
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-xs-3   col-xs-offset-8 button-fix" style=" margin-left: 78%;">
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix" name="btn-add-start-condition" tabIndex="1">添加</button>
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix hidden" name="btn-save-start-condition" tabIndex="1">保存</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="">
                                            <div class="col-xs-3 col-xs-offset-8 button-fix" style=" margin-left: 69%;">
                                                <button type="button" class="btn btn-default form-tool-btn btn-sm" name="btn-expr-config" >添加表达式</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 clear-left-right-padding">
                                                <textarea rows="4" class="form-control col-xs-12" id="expr-config-value-new" readonly style="display:none;"></textarea>
                                                <input type="hidden" name = "isExprConfigUpdate" id = "isExprConfigUpdate">
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-xs-3   col-xs-offset-8 button-fix" style=" margin-left: 78%;">
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix" name="btn-add-start-condition" tabIndex="2" style="display:none;">添加</button>
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix hidden" name="btn-save-start-condition" tabIndex="2" style="display:none;">保存</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <div class="col-xs-11 form-process-properties-value col-xs-offset-1">
                                                <input type="text" class="form-control col-xs-11" placeholder="">
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-xs-3   col-xs-offset-8 button-fix" style=" margin-left: 78%;">
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix" name="btn-add-start-condition" tabIndex="3">添加</button>
                                                <button class="btn btn-default form-tool-btn btn-sm form-buttion-fix hidden" name="btn-save-start-condition" tabIndex="3">保存</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="" style="">
                                    <table class="table table-hover table-bordered table-fix" name="table-executor" id="table-executor">
                                        <thead>
                                            <tr name="title">
                                                <td style="width: 0%;display:none;"></td>
                                                <td>类型</td>
                                                <td>值</td>
                                                <td style="width: 55px;">操作</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--   <tr >
                                                <td>1</td>
                                                <td>Expr</td>
                                                <td>{b}='ABC'</td>
                                                <td>
                                                <a href="javascript:void(0)" name="btn-executor-modify">修改</a>
                                                    <button type="button" class="btn btn-primary btn-sm">删除</button>
                                                    <button type="button" class="btn btn-primary btn-sm">修改</button> 
                                                </td>
                                            </tr>  -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-xs-3   control-label form-process-properties-label">执行方式</label>
                                    <div class="col-xs-9 form-process-properties-value">
                                        <select class="form-control" id="zhi_xing_fang_shi" name="zhi_xing_fang_shi">
                                            <option value="AND" selected="">AND</option>
                                            <option value="OR">OR</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <!-- html: 路由条件 结束 -->
                        </li>
                        
                        <li <c:if test="${isUflow == '2'}">style="display:none"</c:if>>
                            <div class="demoCont">
                               <!--  html: 流转事件开始 -->
                                 <div class="avic-digital-human-task-event">
                                     <div class="form-group ">
                                         <label class="col-xs-3 control-label form-process-properties-label">事件选择</label>
                                         <div class="col-xs-9 form-process-properties-value">
                                             <select class="form-control col-xs-12" name="eventSelect">
                                             </select>
                                         </div>
                                     </div>
                                    <div class="form-group ">
                                        <label for="" class="col-xs-3 control-label form-process-properties-label"><i class="required">*</i>事件名称</label>
                                        <div class="col-xs-9 form-process-properties-value">
                                            <input id="input-event-name" name="input-event-name" type="text"  class="form-control col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                       <label for="" class="col-xs-3 control-label form-process-properties-label" style="text-align: left;"><i class="required">*</i>事&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</label>
                                        <div class="col-xs-9 form-process-properties-value">
                                            <input id="input-event" name="input-event" type="text"  class="form-control col-xs-12">
                                        </div>
                                    </div>
                                     <div class="form-group hidden">
                                        <label for="" class="col-xs-3 control-label form-process-properties-label"><i class="no_required">&nbsp;</i>事件类型</label>
                                        <div class="col-xs-9 form-process-properties-value">
                                            <select class="form-control" id="select-event-type" name="select-event-type">
                                                <option value="transfer" selected="selected">流转事件</option>
                                            </select>
                                        </div>
                                    </div> 
                                    <div >
                                        <table class="table table-hover table-bordered table-fix" name="constants">
                                            <thead>
                                                <tr>
                                                    <td>常量名</td>
                                                    <td>常量值</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                   <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                   <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                  <div class="form-group" >
                                            <div class="col-xs-3 col-xs-offset-9 start-auth-button" >
                                            <button type="button" class="btn btn-default form-tool-btn btn-sm form-buttion-fix" name="btn-add-event">添加</button>
                                            <button type="button" class="btn btn-default form-tool-btn btn-sm form-buttion-fix hidden" name="btn-save-event">保存</button>
                                        </div>
                                    </div>
                                    <div >
                                        <table class="table table-hover table-bordered table-fix" name="table-event-value">
                                            <thead>
                                                <tr>
                                                    <td style="width: 0%;display: none;"></td>
                                                    <td>名称</td>
                                                    <td>事件</td>
                                                    <td>类型</td>
                                                    <td>常量</td>
                                                    <td style="width: 55px;">操作</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                             
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               <!--  html: 流转事件结束 -->

                            </div>
                        </li>
                        <li <c:if test="${isUflow == '2'}">style="display:none"</c:if>>
                            <div class="demoCont">
                               <!--  html: 超时流转开始 -->
                               <label for="" class="col-xs-3 control-label form-process-properties-label">触发规则</label>
                               <div class="col-xs-5 form-process-properties-value" style="padding-right: 0px;">
                                   <input type="text" class="form-control" id="chu_fa_gui_ze" name="chu_fa_gui_ze" readonly="">
                               </div>
                               <div class="col-xs-3 clear-right-padding">
                                   <button name="button_chu_fa_gui_ze" type="button" class="btn btn-default form-tool-btn btn-sm form-buttion-fix">选择</button>
                               </div>
                               <!--  html: 超时流转结束 -->

                            </div>
                        </li>
                    </ul>
                    <!-- 标签主体End -->
                </div>
            </div>
	</form>
</div>
