.in_tab_box {
	border: 1px solid #ccc;
	box-shadow: 1px 1px 5px #ddd;
	background: #fff;
	padding: 5px;
	display: none;
	position: absolute
}

.itb_con {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 18px;
	position: relative;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear
}

.itb_picker_unlight {
	background: url(images/table-unhighlighted.png) repeat
}

.itb_picker_unlight,.itb_picker_light {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear
}

.itb_picker_light {
	background: url(images/table-highlighted.png) repeat
}

.itb_picker_status {
	text-align: center;
	color: #333;
	font: 10pt/1.7 arial
}