a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #999999;
	text-decoration: underline;
}
.ui-widget-content {
	border:0;
}
.ui-widget-header {
	background:#ffffff; 
	height:35px;
	line-height:35px;
	border:1px solid #d0d0d0;
	border-bottom:2px solid #187ed2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ui-widget-header a span.title_bg{
	color:#187ed2;
	font-size:16px;
	/* background:url(images/icon_bg12_03.png) no-repeat left top; */
	display: block;
	_display:inline-block;
	height:34px;
	padding:0 0 0 10px;
}
.ui-widget-header a{
	text-decoration: none;
}

.ui-portlet-content{
	border:1px solid #d0d0d0;
	border-top:0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.ui-portlet-content iframe{
	_width:99%;
}
html,body {
	margin-right: 0px;
	background-color: #ffffff;
}
#divBody{
	background-color: #f2f2f2;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover{
	border: 0 !important;
	background:none !important;
	font-weight: bold !important;
	color: #ffffff !important;
}
