.avicselectui {
	box-shadow: none!important;
	position: absolute!important;
	border:1px solid #ddd;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	overflow: auto;
}
.avicselectui .layui-layer-btn {
	padding:5px 10px;
}

.avicselect-list {
	display: none;
}
.avicselect-list ul {
	padding: 0;
}
.avicselect-list li {
	padding:5px;
	list-style:none;
	transition:all .3s;
	-webkit-transition:all .3s;
}

.avicselect-list li:hover {
	background-color: #ddd;
}

.avicselect-list .on {
	color:#66ccff;
}