@charset "utf-8";
.header .toolbar{
	background-color: #00b791;
}
.leftAside {
	background: #ffffff;
}
.logoDom{
	background-color: #00b791;
	color: #fff;
}
.hideLeftMenu {
    color: #ffffff;
}
.hideLeftMenu:hover {
	color:#ffffff;
}
.navList>ul li,.navList>ul li{
	background: #fff;
}
.navList>ul li.on,.navList>ul li:hover {
	background: #f3f4f9;
}
.navList .subList {
	border: 1px solid #f0f0f0;
     
}
.subList .subChild .c-title:hover {
    color:#00b791;
}
.navList ul li.on {
    color: #00b791;
}
.navList>ul>li{
	color: #3d4d65;
} 
.navList>ul li:hover{
	color: #00b791;
}
.navList>ul>li > i{
	color:#adb9ca;
	font-size:14px;
}
.navListClone .subList {
	background: #FFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border:1px solid #e5e5e5\9;
}
.subList .subChild .c-title {
    color: #3d4d65;
}
.navList>ul li.on i, .navList>ul li:hover i{
   color:#00b791;
}
.navListClone ul li {
    color: #3d4d65;
}
.navListClone ul li:hover {
    color: #00b791;
}
.tabs-header{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.tabs{
	
	border-bottom: 1px solid #cad7e3;
}
.layui-layer-btn a{
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}
.index-model .layui-layer-btn .layui-layer-btn0 {
	background: #00b791;
	border: 1px solid #00b791;
	color:#fff;
}
.index-model .layui-layer-btn .layui-layer-btn0:hover {
	background: #6558aa;
	border-color: #6558aa;
	color:#fff;
}
.avic-smenu li:hover {
    background: #e5fbf3;
}
.layui-layer-btn1, .layui-layer-btn2 {
    background-color: #ffffff!important;
    border: 1px solid #d9d9d9!important;
    color: #858585!important;
}
.layui-layer-btn1:hover, .layui-layer-btn2:hover {
    background-color: #00b791!important;
    border: 1px solid #00b791!important;
    color: #fff!important;
}
.tabs li a.tabs-inner{
	border-left:0;
	border-top:0;
	border-right:1px solid #cad7e3;
	line-height: 30px!important;
}
.tabs li.tabs-selected a.tabs-inner{
	background-color: #e5fbf3;
    color: #00b791;
	border:0;
	height:33px!important;
	line-height: 30px!important;
	border-bottom: 0;
	border-right: 1px solid #cad7e3;
}
.tabs li a.tabs-close{
	margin-top:-7px;
}
/* add by 右侧顶部换肤 */
.toolbar .search{
    border: 1px solid #31a894;
    background:#31a894;
}
.toolbar .search input[type="text"] {
    color: #fff;
    border: none;
    background:#31a894;
}
.toolbar .search input[type="text"]:focus {
    box-shadow: none;
}
.toolbar .search .head-search {
    color: #94d2c8;
}
.toolbar .iconbtn li i {
    color:#fff;
    font-size:18px;
}
.dropdown-menu .btns .a-btn i {
    color:#858585!important;
     font-size:14px;
}
.dropdown-menu .btns .a-btn i.icon-close {
    font-size:12px;
}
.dropdown-menu .btns .a-btn:hover i,
.dropdown-menu .btns .a-btn:hover {
    color:#37bba5!important;
    background: #ebf8f6;
}
.toolbar .iconbtn .dropdown.open>i{
	color:#ffffff;
}
.toolbar .avic-smenu li i {
    margin-right: 12px;
    color:#858585!important;
    font-size: 14px;
}
.avic-smenu li:hover>i {
    color:#37bba5!important;
}
.toolbar .userinfo {
    color:#ffffff;
    font-size:14px;
}
.m-btn-downarrow{
	color:#969696;
	font-size:12px;
	line-height:22px;
}
.tabs-selected .m-btn-downarrow{
	color:#37bba5;
}
.tabs li a.tabs-inner:hover {
    background: #eafcf5;
    color: #37bba5;
    filter: none;
}
.tabs li.tabs-first:hover .m-btn-downarrow{
	color:#37bba5;
}
.l-btn-text{
	line-height: 34px;
}
.guider{
	padding: 20px 0px 20px 0px!important;
}
/* 按钮换肤样式 */
.layui-layer-btn .layui-layer-btn0,.layui-layer-btn1,.layui-layer-btn2 {
	background:#37bba5!important;
	border-color:#37bba5!important;
}
.layui-layer-btn .layui-layer-btn0:hover,.form-tool-btn:focus {
	background:#34c6a7!important;
	border-color:#34c6a7!important;
}
.layui-layer-btn1,.layui-layer-btn2 {
	background-color: #ffffff !important;
	border: 1px solid #d9d9d9 !important;
	color: #858585 !important
}
.layui-layer-btn1:hover,.layui-layer-btn2:hover {
	background: #00b791!important;
	border: 1px solid #37bba5 !important;
	color: #fff !important;
}
.layui-layer.bs-modal .layui-layer-btn .layui-layer-btn0,
.layui-layer-btn .layui-layer-btn0 {
	background: #00b791!important;
	border-color: #00b791!important;
	color:#fff;
}

.layui-layer.bs-modal .layui-layer-btn .layui-layer-btn0:hover,
.layui-layer-btn .layui-layer-btn0:hover {
	background: #34c6a7!important;
	border-color: #34c6a7!important;
	color:#fff;
}
/* 按钮换肤样式end */
/* 弹层换肤样式 */

.navList>ul li:hover span.hlist:after {
    color:#00b791;
}
.navListClone .subList .subChild .c-title:hover{
	background: #e5fbf3;
}
.subList .subChild:hover .c-title i,
.subList .subChild:hover .c-title{
    color:#00b791;
}
.subList .subChild li:hover {
    background:  #e5fbf3;
    color:#00b791;
}
.tabs li.tabs-first .m-btn-downarrow{
	float:left;
	font-size: 14px;
	margin-right:3px;
}
.tabs li.tabs-first .m-btn-downarrow:before{
    content: "\e671";
}