<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.assets.device.assetsstdtempapplyproc.dao.AssetsSupplierDao">

<resultMap id="AssetsSupplierDTOMap" type="avicit.assets.device.assetsstdtempapplyproc.dto.AssetsSupplierDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="contact" column="CONTACT" jdbcType="VARCHAR" />
		<result property="contactNumber" column="CONTACT_NUMBER" jdbcType="VARCHAR" />
		<result property="businessScope" column="BUSINESS_SCOPE" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="status" column="STATUS" jdbcType="VARCHAR" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="VARCHAR" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="VARCHAR" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="VARCHAR" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="VARCHAR" />
		<result property="attribute11" column="ATTRIBUTE_11" jdbcType="VARCHAR" />
		<result property="attribute12" column="ATTRIBUTE_12" jdbcType="VARCHAR" />
		<result property="attribute13" column="ATTRIBUTE_13" jdbcType="VARCHAR" />
		<result property="attribute14" column="ATTRIBUTE_14" jdbcType="VARCHAR" />
		<result property="attribute15" column="ATTRIBUTE_15" jdbcType="TIMESTAMP" />
		<result property="attribute16" column="ATTRIBUTE_16" jdbcType="TIMESTAMP" />
		<result property="attribute17" column="ATTRIBUTE_17" jdbcType="TIMESTAMP" />
		<result property="attribute18" column="ATTRIBUTE_18" jdbcType="DECIMAL" />
		<result property="attribute19" column="ATTRIBUTE_19" jdbcType="DECIMAL" />
		<result property="attribute20" column="ATTRIBUTE_20" jdbcType="DECIMAL" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="levelUpId" column="LEVEL_UP_ID" jdbcType="VARCHAR" />
</resultMap>
<!-- 根据pid查询对象 ASSETS_SUPPLIER -->
<select id="findAssetsSupplierByPid" parameterType="java.util.Map" resultMap="AssetsSupplierDTOMap">
	select
		t1.id                             ,
		t1.name                           ,
		t1.address                        ,
		t1.contact                        ,
		t1.contact_number                 ,
		t1.business_scope                 ,
		t1.creation_date                  ,
		t1.created_by                     ,
		t1.last_update_date               ,
		t1.last_updated_by                ,
		t1.status                         ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   ,
		t1.attribute_15                   ,
		t1.attribute_16                   ,
		t1.attribute_17                   ,
		t1.attribute_18                   ,
		t1.attribute_19                   ,
		t1.attribute_20                   ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.level_up_id                    
	from assets_supplier 	t1
		where t1.level_up_id = #{pid}
</select>
<!-- 分页查询 ASSETS_SUPPLIER -->
<select id="searchAssetsSupplierByPage" parameterType="java.util.Map" resultMap="AssetsSupplierDTOMap">
	select
		t1.id                             ,
		t1.name                           ,
		t1.address                        ,
		t1.contact                        ,
		t1.contact_number                 ,
		t1.business_scope                 ,
		t1.creation_date                  ,
		t1.created_by                     ,
		t1.last_update_date               ,
		t1.last_updated_by                ,
		t1.status                         ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   ,
		t1.attribute_15                   ,
		t1.attribute_16                   ,
		t1.attribute_17                   ,
		t1.attribute_18                   ,
		t1.attribute_19                   ,
		t1.attribute_20                   ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.level_up_id                    
	from assets_supplier 	t1
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID =#{bean.id}
			</if>
			<if test="bean.name != null and bean.name != ''">
				and t1.NAME like concat(concat('%',#{bean.name}),'%') 
			</if>
			<if test="bean.address != null and bean.address != ''">
				and t1.ADDRESS like concat(concat('%',#{bean.address}),'%') 
			</if>
			<if test="bean.contact != null and bean.contact != ''">
				and t1.CONTACT like concat(concat('%',#{bean.contact}),'%') 
			</if>
			<if test="bean.contactNumber != null and bean.contactNumber != ''">
				and t1.CONTACT_NUMBER like concat(concat('%',#{bean.contactNumber}),'%') 
			</if>
			<if test="bean.businessScope != null and bean.businessScope != ''">
				and t1.BUSINESS_SCOPE like concat(concat('%',#{bean.businessScope}),'%') 
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like concat(concat('%',#{bean.creationDate}),'%') 
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like concat(concat('%',#{bean.createdBy}),'%') 
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like concat(concat('%',#{bean.lastUpdateDate}),'%') 
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like concat(concat('%',#{bean.lastUpdatedBy}),'%') 
			</if>
			<if test="bean.status != null and bean.status != ''">
				and t1.STATUS like concat(concat('%',#{bean.status}),'%') 
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				and t1.ATTRIBUTE_01 like concat(concat('%',#{bean.attribute01}),'%') 
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				and t1.ATTRIBUTE_02 like concat(concat('%',#{bean.attribute02}),'%') 
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				and t1.ATTRIBUTE_03 like concat(concat('%',#{bean.attribute03}),'%') 
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				and t1.ATTRIBUTE_04 like concat(concat('%',#{bean.attribute04}),'%') 
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				and t1.ATTRIBUTE_05 like concat(concat('%',#{bean.attribute05}),'%') 
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				and t1.ATTRIBUTE_06 like concat(concat('%',#{bean.attribute06}),'%') 
			</if>
			<if test="bean.attribute07 != null and bean.attribute07 != ''">
				and t1.ATTRIBUTE_07 like concat(concat('%',#{bean.attribute07}),'%') 
			</if>
			<if test="bean.attribute08 != null and bean.attribute08 != ''">
				and t1.ATTRIBUTE_08 like concat(concat('%',#{bean.attribute08}),'%') 
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				and t1.ATTRIBUTE_09 like concat(concat('%',#{bean.attribute09}),'%') 
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				and t1.ATTRIBUTE_10 like concat(concat('%',#{bean.attribute10}),'%') 
			</if>
			<if test="bean.attribute11 != null and bean.attribute11 != ''">
				and t1.ATTRIBUTE_11 like concat(concat('%',#{bean.attribute11}),'%') 
			</if>
			<if test="bean.attribute12 != null and bean.attribute12 != ''">
				and t1.ATTRIBUTE_12 like concat(concat('%',#{bean.attribute12}),'%') 
			</if>
			<if test="bean.attribute13 != null and bean.attribute13 != ''">
				and t1.ATTRIBUTE_13 like concat(concat('%',#{bean.attribute13}),'%') 
			</if>
			<if test="bean.attribute14 != null and bean.attribute14 != ''">
				and t1.ATTRIBUTE_14 like concat(concat('%',#{bean.attribute14}),'%') 
			</if>
			<if test="bean.attribute15 != null and bean.attribute15 != ''">
				and t1.ATTRIBUTE_15 like concat(concat('%',#{bean.attribute15}),'%') 
			</if>
			<if test="bean.attribute16 != null and bean.attribute16 != ''">
				and t1.ATTRIBUTE_16 like concat(concat('%',#{bean.attribute16}),'%') 
			</if>
			<if test="bean.attribute17 != null and bean.attribute17 != ''">
				and t1.ATTRIBUTE_17 like concat(concat('%',#{bean.attribute17}),'%') 
			</if>
			<if test="bean.attribute18 != null ">
				and t1.ATTRIBUTE_18 like concat(concat('%',#{bean.attribute18}),'%') 
			</if>
			<if test="bean.attribute19 != null ">
				and t1.ATTRIBUTE_19 like concat(concat('%',#{bean.attribute19}),'%') 
			</if>
			<if test="bean.attribute20 != null ">
				and t1.ATTRIBUTE_20 like concat(concat('%',#{bean.attribute20}),'%') 
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like concat(concat('%',#{bean.lastUpdateIp}),'%') 
			</if>
			<if test="bean.version != null ">
				and t1.VERSION like concat(concat('%',#{bean.version}),'%') 
			</if>
			<if test="bean.levelUpId != null and bean.levelUpId != ''">
				and t1.LEVEL_UP_ID =#{bean.levelUpId}
			</if>
			</if>
		</where>
		<choose>
			<when test="pOrderBy != null and pOrderBy != ''">
				order by ${pOrderBy}			
			</when>
			<otherwise>
				order by t1.creation_date desc
			</otherwise>
		</choose>
</select>
<!-- 分页查询 OrASSETS_SUPPLIER -->
<select id="searchAssetsSupplierByPageOr" parameterType="java.util.Map" resultMap="AssetsSupplierDTOMap">
	select
		t1.id                             ,
		t1.name                           ,
		t1.address                        ,
		t1.contact                        ,
		t1.contact_number                 ,
		t1.business_scope                 ,
		t1.creation_date                  ,
		t1.created_by                     ,
		t1.last_update_date               ,
		t1.last_updated_by                ,
		t1.status                         ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   ,
		t1.attribute_15                   ,
		t1.attribute_16                   ,
		t1.attribute_17                   ,
		t1.attribute_18                   ,
		t1.attribute_19                   ,
		t1.attribute_20                   ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.level_up_id                    
	from  (select * from assets_supplier t where t.LEVEL_UP_ID= #{bean.levelUpId})  t1
		<where>
			<if test="bean != null">
			<trim prefix="(" suffix=")" prefixOverrides="or">
			<if test="bean.id != null and bean.id != ''">
				or t1.ID =#{bean.id}
			</if>
			<if test="bean.name != null and bean.name != ''">
				or t1.NAME like concat(concat('%',#{bean.name}),'%')  
			</if>
			<if test="bean.address != null and bean.address != ''">
				or t1.ADDRESS like concat(concat('%',#{bean.address}),'%')  
			</if>
			<if test="bean.contact != null and bean.contact != ''">
				or t1.CONTACT like concat(concat('%',#{bean.contact}),'%')  
			</if>
			<if test="bean.contactNumber != null and bean.contactNumber != ''">
				or t1.CONTACT_NUMBER like concat(concat('%',#{bean.contactNumber}),'%')  
			</if>
			<if test="bean.businessScope != null and bean.businessScope != ''">
				or t1.BUSINESS_SCOPE like concat(concat('%',#{bean.businessScope}),'%')  
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				or t1.CREATION_DATE like concat(concat('%',#{bean.creationDate}),'%')  
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				or t1.CREATED_BY like concat(concat('%',#{bean.createdBy}),'%')  
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				or t1.LAST_UPDATE_DATE like concat(concat('%',#{bean.lastUpdateDate}),'%')  
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				or t1.LAST_UPDATED_BY like concat(concat('%',#{bean.lastUpdatedBy}),'%')  
			</if>
			<if test="bean.status != null and bean.status != ''">
				or t1.STATUS like concat(concat('%',#{bean.status}),'%')  
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				or t1.ATTRIBUTE_01 like concat(concat('%',#{bean.attribute01}),'%')  
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				or t1.ATTRIBUTE_02 like concat(concat('%',#{bean.attribute02}),'%')  
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				or t1.ATTRIBUTE_03 like concat(concat('%',#{bean.attribute03}),'%')  
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				or t1.ATTRIBUTE_04 like concat(concat('%',#{bean.attribute04}),'%')  
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				or t1.ATTRIBUTE_05 like concat(concat('%',#{bean.attribute05}),'%')  
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				or t1.ATTRIBUTE_06 like concat(concat('%',#{bean.attribute06}),'%')  
			</if>
			<if test="bean.attribute07 != null and bean.attribute07 != ''">
				or t1.ATTRIBUTE_07 like concat(concat('%',#{bean.attribute07}),'%')  
			</if>
			<if test="bean.attribute08 != null and bean.attribute08 != ''">
				or t1.ATTRIBUTE_08 like concat(concat('%',#{bean.attribute08}),'%')  
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				or t1.ATTRIBUTE_09 like concat(concat('%',#{bean.attribute09}),'%')  
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				or t1.ATTRIBUTE_10 like concat(concat('%',#{bean.attribute10}),'%')  
			</if>
			<if test="bean.attribute11 != null and bean.attribute11 != ''">
				or t1.ATTRIBUTE_11 like concat(concat('%',#{bean.attribute11}),'%')  
			</if>
			<if test="bean.attribute12 != null and bean.attribute12 != ''">
				or t1.ATTRIBUTE_12 like concat(concat('%',#{bean.attribute12}),'%')  
			</if>
			<if test="bean.attribute13 != null and bean.attribute13 != ''">
				or t1.ATTRIBUTE_13 like concat(concat('%',#{bean.attribute13}),'%')  
			</if>
			<if test="bean.attribute14 != null and bean.attribute14 != ''">
				or t1.ATTRIBUTE_14 like concat(concat('%',#{bean.attribute14}),'%')  
			</if>
			<if test="bean.attribute15 != null and bean.attribute15 != ''">
				or t1.ATTRIBUTE_15 like concat(concat('%',#{bean.attribute15}),'%')  
			</if>
			<if test="bean.attribute16 != null and bean.attribute16 != ''">
				or t1.ATTRIBUTE_16 like concat(concat('%',#{bean.attribute16}),'%')  
			</if>
			<if test="bean.attribute17 != null and bean.attribute17 != ''">
				or t1.ATTRIBUTE_17 like concat(concat('%',#{bean.attribute17}),'%')  
			</if>
			<if test="bean.attribute18 != null">
				or t1.ATTRIBUTE_18 like concat(concat('%',#{bean.attribute18}),'%')  
			</if>
			<if test="bean.attribute19 != null">
				or t1.ATTRIBUTE_19 like concat(concat('%',#{bean.attribute19}),'%')  
			</if>
			<if test="bean.attribute20 != null">
				or t1.ATTRIBUTE_20 like concat(concat('%',#{bean.attribute20}),'%')  
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				or t1.LAST_UPDATE_IP like concat(concat('%',#{bean.lastUpdateIp}),'%')  
			</if>
			<if test="bean.version != null">
				or t1.VERSION like concat(concat('%',#{bean.version}),'%')  
			</if>
													</trim>
			</if>
		</where>
		<choose>
			<when test="pOrderBy != null and pOrderBy != ''">
				order by ${pOrderBy}			
			</when>
			<otherwise>
				order by t1.creation_date desc
			</otherwise>
		</choose>
</select>
<!-- 查询列表 ASSETS_SUPPLIER -->
<select id="searchAssetsSupplier" parameterType="java.util.Map" resultMap="AssetsSupplierDTOMap">
	select
		t1.id                             ,
		t1.name                           ,
		t1.address                        ,
		t1.contact                        ,
		t1.contact_number                 ,
		t1.business_scope                 ,
		t1.creation_date                  ,
		t1.created_by                     ,
		t1.last_update_date               ,
		t1.last_updated_by                ,
		t1.status                         ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   ,
		t1.attribute_15                   ,
		t1.attribute_16                   ,
		t1.attribute_17                   ,
		t1.attribute_18                   ,
		t1.attribute_19                   ,
		t1.attribute_20                   ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.level_up_id                    
	from assets_supplier 	t1
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="name != null and name != ''">
				and t1.NAME =#{name}
			</if>
			<if test="address != null and address != ''">
				and t1.ADDRESS =#{address}
			</if>
			<if test="contact != null and contact != ''">
				and t1.CONTACT =#{contact}
			</if>
			<if test="contactNumber != null and contactNumber != ''">
				and t1.CONTACT_NUMBER =#{contactNumber}
			</if>
			<if test="businessScope != null and businessScope != ''">
				and t1.BUSINESS_SCOPE =#{businessScope}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="status != null and status != ''">
				and t1.STATUS =#{status}
			</if>
			<if test="attribute01 != null and attribute01 != ''">
				and t1.ATTRIBUTE_01 =#{attribute01}
			</if>
			<if test="attribute02 != null and attribute02 != ''">
				and t1.ATTRIBUTE_02 =#{attribute02}
			</if>
			<if test="attribute03 != null and attribute03 != ''">
				and t1.ATTRIBUTE_03 =#{attribute03}
			</if>
			<if test="attribute04 != null and attribute04 != ''">
				and t1.ATTRIBUTE_04 =#{attribute04}
			</if>
			<if test="attribute05 != null and attribute05 != ''">
				and t1.ATTRIBUTE_05 =#{attribute05}
			</if>
			<if test="attribute06 != null and attribute06 != ''">
				and t1.ATTRIBUTE_06 =#{attribute06}
			</if>
			<if test="attribute07 != null and attribute07 != ''">
				and t1.ATTRIBUTE_07 =#{attribute07}
			</if>
			<if test="attribute08 != null and attribute08 != ''">
				and t1.ATTRIBUTE_08 =#{attribute08}
			</if>
			<if test="attribute09 != null and attribute09 != ''">
				and t1.ATTRIBUTE_09 =#{attribute09}
			</if>
			<if test="attribute10 != null and attribute10 != ''">
				and t1.ATTRIBUTE_10 =#{attribute10}
			</if>
			<if test="attribute11 != null and attribute11 != ''">
				and t1.ATTRIBUTE_11 =#{attribute11}
			</if>
			<if test="attribute12 != null and attribute12 != ''">
				and t1.ATTRIBUTE_12 =#{attribute12}
			</if>
			<if test="attribute13 != null and attribute13 != ''">
				and t1.ATTRIBUTE_13 =#{attribute13}
			</if>
			<if test="attribute14 != null and attribute14 != ''">
				and t1.ATTRIBUTE_14 =#{attribute14}
			</if>
			<if test="attribute15 != null and attribute15 != ''">
				and t1.ATTRIBUTE_15 =#{attribute15}
			</if>
			<if test="attribute16 != null and attribute16 != ''">
				and t1.ATTRIBUTE_16 =#{attribute16}
			</if>
			<if test="attribute17 != null and attribute17 != ''">
				and t1.ATTRIBUTE_17 =#{attribute17}
			</if>
			<if test="attribute18 != null">
				and t1.ATTRIBUTE_18 =#{attribute18}
			</if>
			<if test="attribute19 != null">
				and t1.ATTRIBUTE_19 =#{attribute19}
			</if>
			<if test="attribute20 != null">
				and t1.ATTRIBUTE_20 =#{attribute20}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null">
				and t1.VERSION =#{version}
			</if>
			<if test="levelUpId != null and levelUpId != ''">
				and t1.LEVEL_UP_ID =#{levelUpId}
			</if>
		</where>
</select>
<!-- 主键查询对象 ASSETS_SUPPLIER -->
<select id="findAssetsSupplierById" parameterType="java.util.Map" resultMap="AssetsSupplierDTOMap">
	select
		t1.id                             ,
		t1.name                           ,
		t1.address                        ,
		t1.contact                        ,
		t1.contact_number                 ,
		t1.business_scope                 ,
		t1.creation_date                  ,
		t1.created_by                     ,
		t1.last_update_date               ,
		t1.last_updated_by                ,
		t1.status                         ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.attribute_11                   ,
		t1.attribute_12                   ,
		t1.attribute_13                   ,
		t1.attribute_14                   ,
		t1.attribute_15                   ,
		t1.attribute_16                   ,
		t1.attribute_17                   ,
		t1.attribute_18                   ,
		t1.attribute_19                   ,
		t1.attribute_20                   ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.level_up_id                    
	from assets_supplier 	t1
		where t1.id = #{id}
</select>
<!-- 新增对象 ASSETS_SUPPLIER -->
<insert id="insertAssetsSupplier" parameterType="avicit.assets.device.assetsstdtempapplyproc.dto.AssetsSupplierDTO">
	insert into assets_supplier
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="contact != null">
				contact,
			</if>
			<if test="contactNumber != null">
				contact_number,
			</if>
			<if test="businessScope != null">
				business_scope,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="attribute01 != null">
				attribute_01,
			</if>
			<if test="attribute02 != null">
				attribute_02,
			</if>
			<if test="attribute03 != null">
				attribute_03,
			</if>
			<if test="attribute04 != null">
				attribute_04,
			</if>
			<if test="attribute05 != null">
				attribute_05,
			</if>
			<if test="attribute06 != null">
				attribute_06,
			</if>
			<if test="attribute07 != null">
				attribute_07,
			</if>
			<if test="attribute08 != null">
				attribute_08,
			</if>
			<if test="attribute09 != null">
				attribute_09,
			</if>
			<if test="attribute10 != null">
				attribute_10,
			</if>
			<if test="attribute11 != null">
				attribute_11,
			</if>
			<if test="attribute12 != null">
				attribute_12,
			</if>
			<if test="attribute13 != null">
				attribute_13,
			</if>
			<if test="attribute14 != null">
				attribute_14,
			</if>
			<if test="attribute15 != null">
				attribute_15,
			</if>
			<if test="attribute16 != null">
				attribute_16,
			</if>
			<if test="attribute17 != null">
				attribute_17,
			</if>
			<if test="attribute18 != null">
				attribute_18,
			</if>
			<if test="attribute19 != null">
				attribute_19,
			</if>
			<if test="attribute20 != null">
				attribute_20,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="levelUpId != null">
				level_up_id,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="contactNumber != null">
				#{contactNumber,jdbcType=VARCHAR},
			</if>
			<if test="businessScope != null">
				#{businessScope,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				#{attribute11,jdbcType=VARCHAR},
			</if>
			<if test="attribute12 != null">
				#{attribute12,jdbcType=VARCHAR},
			</if>
			<if test="attribute13 != null">
				#{attribute13,jdbcType=VARCHAR},
			</if>
			<if test="attribute14 != null">
				#{attribute14,jdbcType=VARCHAR},
			</if>
			<if test="attribute15 != null">
				#{attribute15,jdbcType=DATE},
			</if>
			<if test="attribute16 != null">
				#{attribute16,jdbcType=DATE},
			</if>
			<if test="attribute17 != null">
				#{attribute17,jdbcType=DATE},
			</if>
			<if test="attribute18 != null">
				#{attribute18,jdbcType=DECIMAL},
			</if>
			<if test="attribute19 != null">
				#{attribute19,jdbcType=DECIMAL},
			</if>
			<if test="attribute20 != null">
				#{attribute20,jdbcType=DECIMAL},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="levelUpId != null">
				#{levelUpId,jdbcType=VARCHAR},
			</if>
	</trim>
</insert>
<!-- 批量新增对象 ASSETS_SUPPLIER -->
<insert id="insertAssetsSupplierList" parameterType="java.util.List">
	insert into assets_supplier(
			id,
			name,
			address,
			contact,
			contact_number,
			business_scope,
			creation_date,
			created_by,
			last_update_date,
			last_updated_by,
			status,
			attribute_01,
			attribute_02,
			attribute_03,
			attribute_04,
			attribute_05,
			attribute_06,
			attribute_07,
			attribute_08,
			attribute_09,
			attribute_10,
			attribute_11,
			attribute_12,
			attribute_13,
			attribute_14,
			attribute_15,
			attribute_16,
			attribute_17,
			attribute_18,
			attribute_19,
			attribute_20,
			last_update_ip,
			version,
			level_up_id)
	<foreach collection="list" item="item" index="index" open="(" separator="union all" close=")">
		select 
					#{item.id,jdbcType=VARCHAR},
					#{item.name,jdbcType=VARCHAR},
					#{item.address,jdbcType=VARCHAR},
					#{item.contact,jdbcType=VARCHAR},
					#{item.contactNumber,jdbcType=VARCHAR},
					#{item.businessScope,jdbcType=VARCHAR},
					#{item.creationDate},
					#{item.createdBy,jdbcType=VARCHAR},
					#{item.lastUpdateDate},
					#{item.lastUpdatedBy,jdbcType=VARCHAR},
					#{item.status,jdbcType=VARCHAR},
					#{item.attribute01,jdbcType=VARCHAR},
					#{item.attribute02,jdbcType=VARCHAR},
					#{item.attribute03,jdbcType=VARCHAR},
					#{item.attribute04,jdbcType=VARCHAR},
					#{item.attribute05,jdbcType=VARCHAR},
					#{item.attribute06,jdbcType=VARCHAR},
					#{item.attribute07,jdbcType=VARCHAR},
					#{item.attribute08,jdbcType=VARCHAR},
					#{item.attribute09,jdbcType=VARCHAR},
					#{item.attribute10,jdbcType=VARCHAR},
					#{item.attribute11,jdbcType=VARCHAR},
					#{item.attribute12,jdbcType=VARCHAR},
					#{item.attribute13,jdbcType=VARCHAR},
					#{item.attribute14,jdbcType=VARCHAR},
					#{item.attribute15,jdbcType=DATE},
					#{item.attribute16,jdbcType=DATE},
					#{item.attribute17,jdbcType=DATE},
					#{item.attribute18,jdbcType=DECIMAL},
					#{item.attribute19,jdbcType=DECIMAL},
					#{item.attribute20,jdbcType=DECIMAL},
					#{item.lastUpdateIp,jdbcType=VARCHAR},
					#{item.version,jdbcType=DECIMAL},
					#{item.levelUpId,jdbcType=VARCHAR}
		from dual 
	</foreach>
</insert>
<!-- 更新对象 ASSETS_SUPPLIER -->
<update id="updateAssetsSupplierSensitive" parameterType="avicit.assets.device.assetsstdtempapplyproc.dto.AssetsSupplierDTO">
	update assets_supplier 
	<set>
			<if test="id != null">
				id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name                           =#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address                        =#{address,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				contact                        =#{contact,jdbcType=VARCHAR},
			</if>
			<if test="contactNumber != null">
				contact_number                 =#{contactNumber,jdbcType=VARCHAR},
			</if>
			<if test="businessScope != null">
				business_scope                 =#{businessScope,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				creation_date                  =#{creationDate},
			</if>
			<if test="createdBy != null">
				created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status                         =#{status,jdbcType=VARCHAR},
			</if>
			<if test="attribute01 != null">
				attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			</if>
			<if test="attribute08 != null">
				attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			</if>
			<if test="attribute09 != null">
				attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			</if>
			<if test="attribute10 != null">
				attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			</if>
			<if test="attribute11 != null">
				attribute_11                   =#{attribute11,jdbcType=VARCHAR},
			</if>
			<if test="attribute12 != null">
				attribute_12                   =#{attribute12,jdbcType=VARCHAR},
			</if>
			<if test="attribute13 != null">
				attribute_13                   =#{attribute13,jdbcType=VARCHAR},
			</if>
			<if test="attribute14 != null">
				attribute_14                   =#{attribute14,jdbcType=VARCHAR},
			</if>
			<if test="attribute15 != null">
				attribute_15                   =#{attribute15,jdbcType=DATE},
			</if>
			<if test="attribute16 != null">
				attribute_16                   =#{attribute16,jdbcType=DATE},
			</if>
			<if test="attribute17 != null">
				attribute_17                   =#{attribute17,jdbcType=DATE},
			</if>
			<if test="attribute18 != null">
				attribute_18                   =#{attribute18,jdbcType=DECIMAL},
			</if>
			<if test="attribute19 != null">
				attribute_19                   =#{attribute19,jdbcType=DECIMAL},
			</if>
			<if test="attribute20 != null">
				attribute_20                   =#{attribute20,jdbcType=DECIMAL},
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version                        =version+1,
			</if>
			<if test="levelUpId != null">
				level_up_id                    =#{levelUpId,jdbcType=VARCHAR},
			</if>
	</set>
		where id = #{id} and version =#{version}
</update>
<!-- 更新对象 ASSETS_SUPPLIER -->
<update id="updateAssetsSupplierAll" parameterType="avicit.assets.device.assetsstdtempapplyproc.dto.AssetsSupplierDTO">
	update assets_supplier 
		set
			id                             =#{id,jdbcType=VARCHAR},
			name                           =#{name,jdbcType=VARCHAR},
			address                        =#{address,jdbcType=VARCHAR},
			contact                        =#{contact,jdbcType=VARCHAR},
			contact_number                 =#{contactNumber,jdbcType=VARCHAR},
			business_scope                 =#{businessScope,jdbcType=VARCHAR},
			creation_date                  =#{creationDate},
			created_by                     =#{createdBy,jdbcType=VARCHAR},
			last_update_date               =#{lastUpdateDate},
			last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			status                         =#{status,jdbcType=VARCHAR},
			attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			attribute_07                   =#{attribute07,jdbcType=VARCHAR},
			attribute_08                   =#{attribute08,jdbcType=VARCHAR},
			attribute_09                   =#{attribute09,jdbcType=VARCHAR},
			attribute_10                   =#{attribute10,jdbcType=VARCHAR},
			attribute_11                   =#{attribute11,jdbcType=VARCHAR},
			attribute_12                   =#{attribute12,jdbcType=VARCHAR},
			attribute_13                   =#{attribute13,jdbcType=VARCHAR},
			attribute_14                   =#{attribute14,jdbcType=VARCHAR},
			attribute_15                   =#{attribute15,jdbcType=DATE},
			attribute_16                   =#{attribute16,jdbcType=DATE},
			attribute_17                   =#{attribute17,jdbcType=DATE},
			attribute_18                   =#{attribute18,jdbcType=DECIMAL},
			attribute_19                   =#{attribute19,jdbcType=DECIMAL},
			attribute_20                   =#{attribute20,jdbcType=DECIMAL},
			last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			level_up_id                    =#{levelUpId,jdbcType=VARCHAR}
	where id = #{id} and version =#{version}
</update>
<!-- 批量更新对象   ASSETS_SUPPLIER -->
<update id="updateAssetsSupplierList" parameterType="java.util.List">
	<foreach collection="dtoList" item="item" index="index" open="begin" separator="" close="end;">
	update assets_supplier 
		set
			id                             =#{item.id,jdbcType=VARCHAR},
			name                           =#{item.name,jdbcType=VARCHAR},
			address                        =#{item.address,jdbcType=VARCHAR},
			contact                        =#{item.contact,jdbcType=VARCHAR},
			contact_number                 =#{item.contactNumber,jdbcType=VARCHAR},
			business_scope                 =#{item.businessScope,jdbcType=VARCHAR},
			creation_date                  =#{item.creationDate},
			created_by                     =#{item.createdBy,jdbcType=VARCHAR},
			last_update_date               =#{item.lastUpdateDate},
			last_updated_by                =#{item.lastUpdatedBy,jdbcType=VARCHAR},
			status                         =#{item.status,jdbcType=VARCHAR},
			attribute_01                   =#{item.attribute01,jdbcType=VARCHAR},
			attribute_02                   =#{item.attribute02,jdbcType=VARCHAR},
			attribute_03                   =#{item.attribute03,jdbcType=VARCHAR},
			attribute_04                   =#{item.attribute04,jdbcType=VARCHAR},
			attribute_05                   =#{item.attribute05,jdbcType=VARCHAR},
			attribute_06                   =#{item.attribute06,jdbcType=VARCHAR},
			attribute_07                   =#{item.attribute07,jdbcType=VARCHAR},
			attribute_08                   =#{item.attribute08,jdbcType=VARCHAR},
			attribute_09                   =#{item.attribute09,jdbcType=VARCHAR},
			attribute_10                   =#{item.attribute10,jdbcType=VARCHAR},
			attribute_11                   =#{item.attribute11,jdbcType=VARCHAR},
			attribute_12                   =#{item.attribute12,jdbcType=VARCHAR},
			attribute_13                   =#{item.attribute13,jdbcType=VARCHAR},
			attribute_14                   =#{item.attribute14,jdbcType=VARCHAR},
			attribute_15                   =#{item.attribute15,jdbcType=DATE},
			attribute_16                   =#{item.attribute16,jdbcType=DATE},
			attribute_17                   =#{item.attribute17,jdbcType=DATE},
			attribute_18                   =#{item.attribute18,jdbcType=DECIMAL},
			attribute_19                   =#{item.attribute19,jdbcType=DECIMAL},
			attribute_20                   =#{item.attribute20,jdbcType=DECIMAL},
			last_update_ip                 =#{item.lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			level_up_id                    =#{item.levelUpId,jdbcType=VARCHAR}
		where id = #{item.id} and version =#{item.version};
	</foreach>
</update>
<!-- 主键删除 ASSETS_SUPPLIER -->
<delete id="deleteAssetsSupplierById" parameterType="java.lang.String">
		delete from assets_supplier  where  id = #{id}
</delete>
<!-- 外键批量删除 ASSETS_SUPPLIER -->
<delete id="deleteAssetsSupplierByPid" parameterType="java.lang.String">
		delete from assets_supplier  where  LEVEL_UP_ID = #{levelUpId}
</delete>
<!-- 批量主键删除 ASSETS_SUPPLIER -->
<delete id="deleteAssetsSupplierList" parameterType="java.util.List">
		delete from assets_supplier  t1
		<where>
			<foreach item="idItem" collection="list" open="(" separator="or" close=")">
				t1.id = #{idItem}
			</foreach>
		</where>
</delete>
</mapper>