<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.assets.furniture.assetsfurniturescrapproc.dao.AssetsFurnitureScrapSubDao">

<resultMap id="AssetsFurnitureScrapSubDTOMap" type="avicit.assets.furniture.assetsfurniturescrapproc.dto.AssetsFurnitureScrapSubDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="parentId" column="PARENT_ID" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="unifiedId" column="UNIFIED_ID" jdbcType="VARCHAR" />
		<result property="assetId" column="ASSET_ID" jdbcType="VARCHAR" />
		<result property="furnitureName" column="FURNITURE_NAME" jdbcType="VARCHAR" />
		<result property="furnitureCategory" column="FURNITURE_CATEGORY" jdbcType="VARCHAR" />
		<result property="furnitureSpec" column="FURNITURE_SPEC" jdbcType="VARCHAR" />
		<result property="ownerId" column="OWNER_ID" jdbcType="VARCHAR" />
		<result property="ownerDept" column="OWNER_DEPT" jdbcType="VARCHAR" />
		<result property="userId" column="USER_ID" jdbcType="VARCHAR" />
		<result property="userDept" column="USER_DEPT" jdbcType="VARCHAR" />
		<result property="manufacturerId" column="MANUFACTURER_ID" jdbcType="VARCHAR" />
		<result property="createdDate" column="CREATED_DATE" jdbcType="TIMESTAMP" />
		<result property="positionId" column="POSITION_ID" jdbcType="VARCHAR" />
		<result property="furniturePhoto" column="FURNITURE_PHOTO" jdbcType="VARCHAR" />
		<result property="furnitureState" column="FURNITURE_STATE" jdbcType="VARCHAR" />
		<result property="originalValue" column="ORIGINAL_VALUE" jdbcType="DECIMAL" />
		<result property="netValue" column="NET_VALUE" jdbcType="DECIMAL" />
</resultMap>
<!-- 根据pid查询对象 ASSETS_FURNITURE_SCRAP_SUB -->
<select id="findAssetsFurnitureScrapSubByPid" parameterType="java.util.Map" resultMap="AssetsFurnitureScrapSubDTOMap">
	select
		t1.id                             ,
		t1.parent_id                      ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.unified_id                     ,
		t1.asset_id                       ,
		t1.furniture_name                 ,
		t1.furniture_category             ,
		t1.furniture_spec                 ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.furniture_photo                ,
		t1.furniture_state                ,
		t1.original_value                 ,
		t1.net_value                      
	from assets_furniture_scrap_sub 	t1
		where t1.parent_id = #{pid}
</select>
<!-- 分页查询 ASSETS_FURNITURE_SCRAP_SUB -->
<select id="searchAssetsFurnitureScrapSubByPage" parameterType="java.util.Map" resultMap="AssetsFurnitureScrapSubDTOMap">
	select
		t1.id                             ,
		t1.parent_id                      ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.unified_id                     ,
		t1.asset_id                       ,
		t1.furniture_name                 ,
		t1.furniture_category             ,
		t1.furniture_spec                 ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.furniture_photo                ,
		t1.furniture_state                ,
		t1.original_value                 ,
		t1.net_value                      
	from assets_furniture_scrap_sub 	t1
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID =#{bean.id}
			</if>
			<if test="bean.parentId != null and bean.parentId != ''">
				and t1.PARENT_ID =#{bean.parentId}
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like concat(concat('%',#{bean.createdBy}),'%') 
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like concat(concat('%',#{bean.creationDate}),'%') 
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like concat(concat('%',#{bean.lastUpdatedBy}),'%') 
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like concat(concat('%',#{bean.lastUpdateDate}),'%') 
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like concat(concat('%',#{bean.lastUpdateIp}),'%') 
			</if>
			<if test="bean.version != null ">
				and t1.VERSION like concat(concat('%',#{bean.version}),'%') 
			</if>
			<if test="bean.unifiedId != null and bean.unifiedId != ''">
				and t1.UNIFIED_ID like concat(concat('%',#{bean.unifiedId}),'%') 
			</if>
			<if test="bean.assetId != null and bean.assetId != ''">
				and t1.ASSET_ID like concat(concat('%',#{bean.assetId}),'%') 
			</if>
			<if test="bean.furnitureName != null and bean.furnitureName != ''">
				and t1.FURNITURE_NAME like concat(concat('%',#{bean.furnitureName}),'%') 
			</if>
			<if test="bean.furnitureCategory != null and bean.furnitureCategory != ''">
				and t1.FURNITURE_CATEGORY like concat(concat('%',#{bean.furnitureCategory}),'%') 
			</if>
			<if test="bean.furnitureSpec != null and bean.furnitureSpec != ''">
				and t1.FURNITURE_SPEC like concat(concat('%',#{bean.furnitureSpec}),'%') 
			</if>
			<if test="bean.ownerId != null and bean.ownerId != ''">
				and t1.OWNER_ID like concat(concat('%',#{bean.ownerId}),'%') 
			</if>
			<if test="bean.ownerDept != null and bean.ownerDept != ''">
				and t1.OWNER_DEPT like concat(concat('%',#{bean.ownerDept}),'%') 
			</if>
			<if test="bean.userId != null and bean.userId != ''">
				and t1.USER_ID like concat(concat('%',#{bean.userId}),'%') 
			</if>
			<if test="bean.userDept != null and bean.userDept != ''">
				and t1.USER_DEPT like concat(concat('%',#{bean.userDept}),'%') 
			</if>
			<if test="bean.manufacturerId != null and bean.manufacturerId != ''">
				and t1.MANUFACTURER_ID like concat(concat('%',#{bean.manufacturerId}),'%') 
			</if>
			<if test="bean.createdDateBegin != null and bean.createdDateBegin != ''">
				and t1.CREATED_DATE &gt;= #{bean.createdDateBegin}
			</if>
			<if test="bean.createdDateEnd != null and bean.createdDateEnd != ''">
				and t1.CREATED_DATE &lt;= #{bean.createdDateEnd}
			</if>
			<if test="bean.positionId != null and bean.positionId != ''">
				and t1.POSITION_ID like concat(concat('%',#{bean.positionId}),'%') 
			</if>
			<if test="bean.furniturePhoto != null and bean.furniturePhoto != ''">
				and t1.FURNITURE_PHOTO like concat(concat('%',#{bean.furniturePhoto}),'%') 
			</if>
			<if test="bean.furnitureState != null and bean.furnitureState != ''">
				and t1.FURNITURE_STATE like concat(concat('%',#{bean.furnitureState}),'%') 
			</if>
			<if test="bean.originalValue != null ">
				and t1.ORIGINAL_VALUE like concat(concat('%',#{bean.originalValue}),'%') 
			</if>
			<if test="bean.netValue != null ">
				and t1.NET_VALUE like concat(concat('%',#{bean.netValue}),'%') 
			</if>
			</if>
		</where>
		<choose>
			<when test="pOrderBy != null and pOrderBy != ''">
				order by ${pOrderBy}			
			</when>
			<otherwise>
				order by t1.creation_date desc
			</otherwise>
		</choose>
</select>
<!-- 分页查询 OrASSETS_FURNITURE_SCRAP_SUB -->
<select id="searchAssetsFurnitureScrapSubByPageOr" parameterType="java.util.Map" resultMap="AssetsFurnitureScrapSubDTOMap">
	select
		t1.id                             ,
		t1.parent_id                      ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.unified_id                     ,
		t1.asset_id                       ,
		t1.furniture_name                 ,
		t1.furniture_category             ,
		t1.furniture_spec                 ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.furniture_photo                ,
		t1.furniture_state                ,
		t1.original_value                 ,
		t1.net_value                      
	from  (select * from assets_furniture_scrap_sub t where t.PARENT_ID= #{bean.parentId})  t1
		<where>
			<if test="bean != null">
			<trim prefix="(" suffix=")" prefixOverrides="or">
			<if test="bean.id != null and bean.id != ''">
				or t1.ID =#{bean.id}
			</if>
													<if test="bean.createdBy != null and bean.createdBy != ''">
				or t1.CREATED_BY like concat(concat('%',#{bean.createdBy}),'%')  
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				or t1.CREATION_DATE like concat(concat('%',#{bean.creationDate}),'%')  
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				or t1.LAST_UPDATED_BY like concat(concat('%',#{bean.lastUpdatedBy}),'%')  
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				or t1.LAST_UPDATE_DATE like concat(concat('%',#{bean.lastUpdateDate}),'%')  
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				or t1.LAST_UPDATE_IP like concat(concat('%',#{bean.lastUpdateIp}),'%')  
			</if>
			<if test="bean.version != null">
				or t1.VERSION like concat(concat('%',#{bean.version}),'%')  
			</if>
			<if test="bean.unifiedId != null and bean.unifiedId != ''">
				or t1.UNIFIED_ID like concat(concat('%',#{bean.unifiedId}),'%')  
			</if>
			<if test="bean.assetId != null and bean.assetId != ''">
				or t1.ASSET_ID like concat(concat('%',#{bean.assetId}),'%')  
			</if>
			<if test="bean.furnitureName != null and bean.furnitureName != ''">
				or t1.FURNITURE_NAME like concat(concat('%',#{bean.furnitureName}),'%')  
			</if>
			<if test="bean.furnitureCategory != null and bean.furnitureCategory != ''">
				or t1.FURNITURE_CATEGORY like concat(concat('%',#{bean.furnitureCategory}),'%')  
			</if>
			<if test="bean.furnitureSpec != null and bean.furnitureSpec != ''">
				or t1.FURNITURE_SPEC like concat(concat('%',#{bean.furnitureSpec}),'%')  
			</if>
			<if test="bean.ownerId != null and bean.ownerId != ''">
				or t1.OWNER_ID like concat(concat('%',#{bean.ownerId}),'%')  
			</if>
			<if test="bean.ownerDept != null and bean.ownerDept != ''">
				or t1.OWNER_DEPT like concat(concat('%',#{bean.ownerDept}),'%')  
			</if>
			<if test="bean.userId != null and bean.userId != ''">
				or t1.USER_ID like concat(concat('%',#{bean.userId}),'%')  
			</if>
			<if test="bean.userDept != null and bean.userDept != ''">
				or t1.USER_DEPT like concat(concat('%',#{bean.userDept}),'%')  
			</if>
			<if test="bean.manufacturerId != null and bean.manufacturerId != ''">
				or t1.MANUFACTURER_ID like concat(concat('%',#{bean.manufacturerId}),'%')  
			</if>
			<if test="bean.createdDateBegin != null and bean.createdDateBegin != ''">
				or t1.CREATED_DATE &gt;= #{bean.createdDateBegin}
			</if>
			<if test="bean.createdDateEnd != null and bean.createdDateEnd != ''">
				or t1.CREATED_DATE &lt;= #{bean.createdDateEnd}
			</if>
			<if test="bean.positionId != null and bean.positionId != ''">
				or t1.POSITION_ID like concat(concat('%',#{bean.positionId}),'%')  
			</if>
			<if test="bean.furniturePhoto != null and bean.furniturePhoto != ''">
				or t1.FURNITURE_PHOTO like concat(concat('%',#{bean.furniturePhoto}),'%')  
			</if>
			<if test="bean.furnitureState != null and bean.furnitureState != ''">
				or t1.FURNITURE_STATE like concat(concat('%',#{bean.furnitureState}),'%')  
			</if>
			<if test="bean.originalValue != null">
				or t1.ORIGINAL_VALUE like concat(concat('%',#{bean.originalValue}),'%')  
			</if>
			<if test="bean.netValue != null">
				or t1.NET_VALUE like concat(concat('%',#{bean.netValue}),'%')  
			</if>
			</trim>
			</if>
		</where>
		<choose>
			<when test="pOrderBy != null and pOrderBy != ''">
				order by ${pOrderBy}			
			</when>
			<otherwise>
				order by t1.creation_date desc
			</otherwise>
		</choose>
</select>
<!-- 查询列表 ASSETS_FURNITURE_SCRAP_SUB -->
<select id="searchAssetsFurnitureScrapSub" parameterType="java.util.Map" resultMap="AssetsFurnitureScrapSubDTOMap">
	select
		t1.id                             ,
		t1.parent_id                      ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.unified_id                     ,
		t1.asset_id                       ,
		t1.furniture_name                 ,
		t1.furniture_category             ,
		t1.furniture_spec                 ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.furniture_photo                ,
		t1.furniture_state                ,
		t1.original_value                 ,
		t1.net_value                      
	from assets_furniture_scrap_sub 	t1
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="parentId != null and parentId != ''">
				and t1.PARENT_ID =#{parentId}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null">
				and t1.VERSION =#{version}
			</if>
			<if test="unifiedId != null and unifiedId != ''">
				and t1.UNIFIED_ID =#{unifiedId}
			</if>
			<if test="assetId != null and assetId != ''">
				and t1.ASSET_ID =#{assetId}
			</if>
			<if test="furnitureName != null and furnitureName != ''">
				and t1.FURNITURE_NAME =#{furnitureName}
			</if>
			<if test="furnitureCategory != null and furnitureCategory != ''">
				and t1.FURNITURE_CATEGORY =#{furnitureCategory}
			</if>
			<if test="furnitureSpec != null and furnitureSpec != ''">
				and t1.FURNITURE_SPEC =#{furnitureSpec}
			</if>
			<if test="ownerId != null and ownerId != ''">
				and t1.OWNER_ID =#{ownerId}
			</if>
			<if test="ownerDept != null and ownerDept != ''">
				and t1.OWNER_DEPT =#{ownerDept}
			</if>
			<if test="userId != null and userId != ''">
				and t1.USER_ID =#{userId}
			</if>
			<if test="userDept != null and userDept != ''">
				and t1.USER_DEPT =#{userDept}
			</if>
			<if test="manufacturerId != null and manufacturerId != ''">
				and t1.MANUFACTURER_ID =#{manufacturerId}
			</if>
			<if test="createdDateBegin != null and createdDateBegin != ''">
				and t1.CREATED_DATE &gt;= #{createdDateBegin}
			</if>
			<if test="createdDateEnd != null and createdDateEnd != ''">
				and t1.CREATED_DATE &lt;= #{createdDateEnd}
			</if>
			<if test="positionId != null and positionId != ''">
				and t1.POSITION_ID =#{positionId}
			</if>
			<if test="furniturePhoto != null and furniturePhoto != ''">
				and t1.FURNITURE_PHOTO =#{furniturePhoto}
			</if>
			<if test="furnitureState != null and furnitureState != ''">
				and t1.FURNITURE_STATE =#{furnitureState}
			</if>
			<if test="originalValue != null">
				and t1.ORIGINAL_VALUE =#{originalValue}
			</if>
			<if test="netValue != null">
				and t1.NET_VALUE =#{netValue}
			</if>
		</where>
</select>
<!-- 主键查询对象 ASSETS_FURNITURE_SCRAP_SUB -->
<select id="findAssetsFurnitureScrapSubById" parameterType="java.util.Map" resultMap="AssetsFurnitureScrapSubDTOMap">
	select
		t1.id                             ,
		t1.parent_id                      ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.unified_id                     ,
		t1.asset_id                       ,
		t1.furniture_name                 ,
		t1.furniture_category             ,
		t1.furniture_spec                 ,
		t1.owner_id                       ,
		t1.owner_dept                     ,
		t1.user_id                        ,
		t1.user_dept                      ,
		t1.manufacturer_id                ,
		t1.created_date                   ,
		t1.position_id                    ,
		t1.furniture_photo                ,
		t1.furniture_state                ,
		t1.original_value                 ,
		t1.net_value                      
	from assets_furniture_scrap_sub 	t1
		where t1.id = #{id}
</select>
<!-- 新增对象 ASSETS_FURNITURE_SCRAP_SUB -->
<insert id="insertAssetsFurnitureScrapSub" parameterType="avicit.assets.furniture.assetsfurniturescrapproc.dto.AssetsFurnitureScrapSubDTO">
	insert into assets_furniture_scrap_sub
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="unifiedId != null">
				unified_id,
			</if>
			<if test="assetId != null">
				asset_id,
			</if>
			<if test="furnitureName != null">
				furniture_name,
			</if>
			<if test="furnitureCategory != null">
				furniture_category,
			</if>
			<if test="furnitureSpec != null">
				furniture_spec,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
			<if test="ownerDept != null">
				owner_dept,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userDept != null">
				user_dept,
			</if>
			<if test="manufacturerId != null">
				manufacturer_id,
			</if>
			<if test="createdDate != null">
				created_date,
			</if>
			<if test="positionId != null">
				position_id,
			</if>
			<if test="furniturePhoto != null">
				furniture_photo,
			</if>
			<if test="furnitureState != null">
				furniture_state,
			</if>
			<if test="originalValue != null">
				original_value,
			</if>
			<if test="netValue != null">
				net_value,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="unifiedId != null">
				#{unifiedId,jdbcType=VARCHAR},
			</if>
			<if test="assetId != null">
				#{assetId,jdbcType=VARCHAR},
			</if>
			<if test="furnitureName != null">
				#{furnitureName,jdbcType=VARCHAR},
			</if>
			<if test="furnitureCategory != null">
				#{furnitureCategory,jdbcType=VARCHAR},
			</if>
			<if test="furnitureSpec != null">
				#{furnitureSpec,jdbcType=VARCHAR},
			</if>
			<if test="ownerId != null">
				#{ownerId,jdbcType=VARCHAR},
			</if>
			<if test="ownerDept != null">
				#{ownerDept,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userDept != null">
				#{userDept,jdbcType=VARCHAR},
			</if>
			<if test="manufacturerId != null">
				#{manufacturerId,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				#{createdDate,jdbcType=DATE},
			</if>
			<if test="positionId != null">
				#{positionId,jdbcType=VARCHAR},
			</if>
			<if test="furniturePhoto != null">
				#{furniturePhoto,jdbcType=VARCHAR},
			</if>
			<if test="furnitureState != null">
				#{furnitureState,jdbcType=VARCHAR},
			</if>
			<if test="originalValue != null">
				#{originalValue,jdbcType=DECIMAL},
			</if>
			<if test="netValue != null">
				#{netValue,jdbcType=DECIMAL},
			</if>
	</trim>
</insert>
<!-- 批量新增对象 ASSETS_FURNITURE_SCRAP_SUB -->
<insert id="insertAssetsFurnitureScrapSubList" parameterType="java.util.List">
	insert into assets_furniture_scrap_sub(
			id,
			parent_id,
			created_by,
			creation_date,
			last_updated_by,
			last_update_date,
			last_update_ip,
			version,
			unified_id,
			asset_id,
			furniture_name,
			furniture_category,
			furniture_spec,
			owner_id,
			owner_dept,
			user_id,
			user_dept,
			manufacturer_id,
			created_date,
			position_id,
			furniture_photo,
			furniture_state,
			original_value,
			net_value)
	<foreach collection="list" item="item" index="index" open="(" separator="union all" close=")">
		select 
					#{item.id,jdbcType=VARCHAR},
					#{item.parentId,jdbcType=VARCHAR},
					#{item.createdBy,jdbcType=VARCHAR},
					#{item.creationDate},
					#{item.lastUpdatedBy,jdbcType=VARCHAR},
					#{item.lastUpdateDate},
					#{item.lastUpdateIp,jdbcType=VARCHAR},
					#{item.version,jdbcType=DECIMAL},
					#{item.unifiedId,jdbcType=VARCHAR},
					#{item.assetId,jdbcType=VARCHAR},
					#{item.furnitureName,jdbcType=VARCHAR},
					#{item.furnitureCategory,jdbcType=VARCHAR},
					#{item.furnitureSpec,jdbcType=VARCHAR},
					#{item.ownerId,jdbcType=VARCHAR},
					#{item.ownerDept,jdbcType=VARCHAR},
					#{item.userId,jdbcType=VARCHAR},
					#{item.userDept,jdbcType=VARCHAR},
					#{item.manufacturerId,jdbcType=VARCHAR},
					#{item.createdDate,jdbcType=DATE},
					#{item.positionId,jdbcType=VARCHAR},
					#{item.furniturePhoto,jdbcType=VARCHAR},
					#{item.furnitureState,jdbcType=VARCHAR},
					#{item.originalValue,jdbcType=DECIMAL},
					#{item.netValue,jdbcType=DECIMAL}
		from dual 
	</foreach>
</insert>
<!-- 更新对象 ASSETS_FURNITURE_SCRAP_SUB -->
<update id="updateAssetsFurnitureScrapSubSensitive" parameterType="avicit.assets.furniture.assetsfurniturescrapproc.dto.AssetsFurnitureScrapSubDTO">
	update assets_furniture_scrap_sub 
	<set>
			<if test="id != null">
				id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id                      =#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version                        =version+1,
			</if>
			<if test="unifiedId != null">
				unified_id                     =#{unifiedId,jdbcType=VARCHAR},
			</if>
			<if test="assetId != null">
				asset_id                       =#{assetId,jdbcType=VARCHAR},
			</if>
			<if test="furnitureName != null">
				furniture_name                 =#{furnitureName,jdbcType=VARCHAR},
			</if>
			<if test="furnitureCategory != null">
				furniture_category             =#{furnitureCategory,jdbcType=VARCHAR},
			</if>
			<if test="furnitureSpec != null">
				furniture_spec                 =#{furnitureSpec,jdbcType=VARCHAR},
			</if>
			<if test="ownerId != null">
				owner_id                       =#{ownerId,jdbcType=VARCHAR},
			</if>
			<if test="ownerDept != null">
				owner_dept                     =#{ownerDept,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id                        =#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userDept != null">
				user_dept                      =#{userDept,jdbcType=VARCHAR},
			</if>
			<if test="manufacturerId != null">
				manufacturer_id                =#{manufacturerId,jdbcType=VARCHAR},
			</if>
			<if test="createdDate != null">
				created_date                   =#{createdDate,jdbcType=DATE},
			</if>
			<if test="positionId != null">
				position_id                    =#{positionId,jdbcType=VARCHAR},
			</if>
			<if test="furniturePhoto != null">
				furniture_photo                =#{furniturePhoto,jdbcType=VARCHAR},
			</if>
			<if test="furnitureState != null">
				furniture_state                =#{furnitureState,jdbcType=VARCHAR},
			</if>
			<if test="originalValue != null">
				original_value                 =#{originalValue,jdbcType=DECIMAL},
			</if>
			<if test="netValue != null">
				net_value                      =#{netValue,jdbcType=DECIMAL},
			</if>
	</set>
		where id = #{id} and version =#{version}
</update>
<!-- 更新对象 ASSETS_FURNITURE_SCRAP_SUB -->
<update id="updateAssetsFurnitureScrapSubAll" parameterType="avicit.assets.furniture.assetsfurniturescrapproc.dto.AssetsFurnitureScrapSubDTO">
	update assets_furniture_scrap_sub 
		set
			id                             =#{id,jdbcType=VARCHAR},
			parent_id                      =#{parentId,jdbcType=VARCHAR},
			created_by                     =#{createdBy,jdbcType=VARCHAR},
			creation_date                  =#{creationDate},
			last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			last_update_date               =#{lastUpdateDate},
			last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			unified_id                     =#{unifiedId,jdbcType=VARCHAR},
			asset_id                       =#{assetId,jdbcType=VARCHAR},
			furniture_name                 =#{furnitureName,jdbcType=VARCHAR},
			furniture_category             =#{furnitureCategory,jdbcType=VARCHAR},
			furniture_spec                 =#{furnitureSpec,jdbcType=VARCHAR},
			owner_id                       =#{ownerId,jdbcType=VARCHAR},
			owner_dept                     =#{ownerDept,jdbcType=VARCHAR},
			user_id                        =#{userId,jdbcType=VARCHAR},
			user_dept                      =#{userDept,jdbcType=VARCHAR},
			manufacturer_id                =#{manufacturerId,jdbcType=VARCHAR},
			created_date                   =#{createdDate,jdbcType=DATE},
			position_id                    =#{positionId,jdbcType=VARCHAR},
			furniture_photo                =#{furniturePhoto,jdbcType=VARCHAR},
			furniture_state                =#{furnitureState,jdbcType=VARCHAR},
			original_value                 =#{originalValue,jdbcType=DECIMAL},
			net_value                      =#{netValue,jdbcType=DECIMAL}
	where id = #{id} and version =#{version}
</update>
<!-- 批量更新对象   ASSETS_FURNITURE_SCRAP_SUB -->
<update id="updateAssetsFurnitureScrapSubList" parameterType="java.util.List">
	<foreach collection="dtoList" item="item" index="index" open="begin" separator="" close="end;">
	update assets_furniture_scrap_sub 
		set
			id                             =#{item.id,jdbcType=VARCHAR},
			parent_id                      =#{item.parentId,jdbcType=VARCHAR},
			created_by                     =#{item.createdBy,jdbcType=VARCHAR},
			creation_date                  =#{item.creationDate},
			last_updated_by                =#{item.lastUpdatedBy,jdbcType=VARCHAR},
			last_update_date               =#{item.lastUpdateDate},
			last_update_ip                 =#{item.lastUpdateIp,jdbcType=VARCHAR},
			version                        =version+1,
			unified_id                     =#{item.unifiedId,jdbcType=VARCHAR},
			asset_id                       =#{item.assetId,jdbcType=VARCHAR},
			furniture_name                 =#{item.furnitureName,jdbcType=VARCHAR},
			furniture_category             =#{item.furnitureCategory,jdbcType=VARCHAR},
			furniture_spec                 =#{item.furnitureSpec,jdbcType=VARCHAR},
			owner_id                       =#{item.ownerId,jdbcType=VARCHAR},
			owner_dept                     =#{item.ownerDept,jdbcType=VARCHAR},
			user_id                        =#{item.userId,jdbcType=VARCHAR},
			user_dept                      =#{item.userDept,jdbcType=VARCHAR},
			manufacturer_id                =#{item.manufacturerId,jdbcType=VARCHAR},
			created_date                   =#{item.createdDate,jdbcType=DATE},
			position_id                    =#{item.positionId,jdbcType=VARCHAR},
			furniture_photo                =#{item.furniturePhoto,jdbcType=VARCHAR},
			furniture_state                =#{item.furnitureState,jdbcType=VARCHAR},
			original_value                 =#{item.originalValue,jdbcType=DECIMAL},
			net_value                      =#{item.netValue,jdbcType=DECIMAL}
		where id = #{item.id} and version =#{item.version};
	</foreach>
</update>
<!-- 主键删除 ASSETS_FURNITURE_SCRAP_SUB -->
<delete id="deleteAssetsFurnitureScrapSubById" parameterType="java.lang.String">
		delete from assets_furniture_scrap_sub  where  id = #{id}
</delete>
<!-- 外键批量删除 ASSETS_FURNITURE_SCRAP_SUB -->
<delete id="deleteAssetsFurnitureScrapSubByPid" parameterType="java.lang.String">
		delete from assets_furniture_scrap_sub  where  PARENT_ID = #{parentId}
</delete>
<!-- 批量主键删除 ASSETS_FURNITURE_SCRAP_SUB -->
<delete id="deleteAssetsFurnitureScrapSubList" parameterType="java.util.List">
		delete from assets_furniture_scrap_sub  t1
		<where>
			<foreach item="idItem" collection="list" open="(" separator="or" close=")">
				t1.id = #{idItem}
			</foreach>
		</where>
</delete>
</mapper>