html,
body {
	margin: 0;
}
li {
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
}
.clearfix {
	zoom: 1
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
* {
	font-family: "微软雅黑";
}
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
*::-webkit-scrollbar-track {
	background: #f3f4f9;
	border-radius: 2px;
}
*::-webkit-scrollbar-thumb {
	background: #c8d2e0;
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
	background: #333;
}
*::-webkit-scrollbar-corner {
	background: #c8d2e0;
}
.warpper {
	padding: 7px;
}
.box {
	padding: 5px 7px;
}
.content_box {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #FFFFFF;
	min-height: 20px;
	border-radius: 4px;
}
.left {
	float: left;
	min-width: 40px;
}
.pos_re {
	position: relative;
	padding-right: 460px;
}
.pos_right {
	position: absolute;
	right: 0;
	top: 0;
	width: 460px;
}
.box_title {
	background: url(../image/title_left.png) no-repeat left;
	padding-left: 16px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #222222;
	font-weight: 600;
	border-bottom: 1px solid #F0F2F4;
}
.title {
	float: left;
}
.title_switch li {
	float: left;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #98A5BA;
	font-weight: 600;
	cursor: pointer;
	position: relative;
	margin-right: 20px;
}
.title_switch li p {
	margin: 0;
	float: left;
}
.title_switch li:hover {
	color: #222222;
}
.title_switch li.act {
	color: #222222;
}
.title_switch_on {
	display: none;
	width: 30px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 22px;
	height: 2px;
	background: #297CE6;
}
.title_switch li.act .item_number {
	display: block;
}
.box_title {
	height: 50px;
	box-sizing: content-box;
	position: relative;
}
.box_title_right {
	position: absolute;
	right: 10px;
	top: 9px;
}
.box_title_right>div.search {
	width: 180px;
	border: 1px solid #d9dee5;
}
.box_title_right>div.search input {
	border: 0;
	outline: none;
	width: 150px;
	padding: 0 4px;
}
.box_title_right>div {
	float: right;
	height: 28px;
	width: 28px;
	display: block;
	cursor: pointer;
	margin: 2px 4px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #686868;
}
.box_title_right>div.time_select {
	width: 100px;
	border: 1px solid #d9dee5;
	border-radius: 4px;
	line-height: 28px;
	height: 28px;
}
.box_title_right .filter {
	border: 1px solid #d9dee5;
	width: auto;
	padding: 0 10px;
	position: relative;
}
.box_title_right .filter.filter_block {
	border-bottom: 0;
	height: 36px;
	border-radius: 4px 4px 0 0;
}
.filter_inner {
	display: none;
	position: absolute;
	right: -1px;
	top: 32px;
	border: 1px solid #d9dee5;
	z-index: 1;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px 0 rgba(19, 36, 85, .15);
	padding: 6px 10px;
	border-radius: 4px;
	width: 360px;
}
.white {
	display: none;
	height: 8px;
	position: absolute;
	top: 28px;
	left: 0;
	right: 0;
	background: #FFFFFF;
	z-index: 3;
}
.filter_block .white,
.filter_block .filter_inner {
	display: block;
}
.filter_inner dl {
	margin: 0;
	height: 40px;
}
.filter_inner .number {
	color: #297CE6;
	font-size: 14px;
	font-style: normal;
	margin: 0 4px;
}
.filter_inner dd {
	float: left;
	margin: 0;
	display: block;
	margin: 8px 10px;
	line-height: 24px;
	background: #F3F4F9;
	padding: 4px 0;
	border-radius: 2px;
	width: 100px;
	text-align: center;
}
.filter_inner dd:hover .number {
	color: #fff;
}
.filter_inner dd:hover {
	background: #297CE6;
	color: #fff;
}
.time_select select {
	display: block;
	height: 28px;
	width: 100px;
	border: 0;
	outline: none;
	box-shadow: none;
	color: #54657e;
	background: none;
	padding-left: 4px;
	font-size: 14px;
}
.icon_more {
	background: url(../image/more.png) no-repeat center;
}
.icon_more:hover {
	background: url(../image/more_hover.png) no-repeat center;
}
.icon_refresh {
	background: url(../image/refresh.png) no-repeat center;
}
.icon_refresh:hover {
	background: url(../image/refresh_hover.png) no-repeat center;
}
.content_inner {
	min-height: 90px;
	padding: 10px;
	overflow: hidden;
}
.left_partition {
	float: left;
	width: 50%;
}
.item_number {
	height: 48px;
	line-height: 48px;
	text-align: center;
	float: left;
	font-style: normal;
	border-radius: 4px;
}
.box_left {
	float: left;
	width: 50%;
}