div.mxRubberband {
	position: absolute;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
	background: #0077FF;
}

textarea.mxCellEditor {
	background: url('../images/transparent.gif');
	border-style: solid;
	border-color: black;
	border-width: 0;
	overflow: auto;
}

div.mxWindow {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: url('../images/window.gif');
	border-style: outset;
	border-width: 1px;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}

table.mxWindow {
	border-collapse: collapse;
	table-layout: fixed;
	font-family: Arial;
	font-size: 8pt;
}

td.mxWindowTitle {
	background: url('../images/window-title.gif') repeat-x;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	height: 13px;
	padding: 2px;
	padding-top: 4px;
	padding-bottom: 6px;
	color: black;
}

td.mxWindowPane {
	vertical-align: top;
	padding: 0px;
}

div.mxWindowPane {
	overflow: hidden;
}

td.mxWindowPane td {
	font-family: Arial;
	font-size: 8pt;
}

td.mxWindowPane input,td.mxWindowPane select,td.mxWindowPane textarea,td.mxWindowPane radio
	{
	border-color: #8C8C8C;
	border-style: solid;
	border-width: 1px;
	font-family: Arial;
	font-size: 8pt;
	padding: 1px;
}

td.mxWindowPane button {
	background: url('../images/button.gif') repeat-x;
	font-family: Arial;
	font-size: 8pt;
	padding: 2px;
	float: left;
	text-align: center;
}

img.mxToolbarItem {
	margin-right: auto;
	margin-left: auto;
}

select.mxToolbarCombo {
	vertical-align: top;
	border-style: inset;
	border-width: 2px;
}

div.mxToolbarComboContainer {
	padding: 2px;
}

img.mxToolbarMode {
	width: 24px;
	height: auto;
	margin: 2px;
	border-width: 0px;
	float: left;
	clear: left;
}

img.mxToolbarModeSelected {
	width: 24px;
	height: auto;
	margin: 0px;
	border-width: 2px;
	border-style: inset;
	float: left;
	clear: left;
	border-color: #C0C0C0;
}

.mxToolbarItemDiv {
	width: 80px;
	height: 24px;
	text-align: center;
	background-color: #ece9d8;
	border-color: #ece9d8;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
}

.mxToolbarModeDiv {
	background-color: #fff;
	border-color: #ece9d8;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	width: 90px;
	height: 24px;
}

.mxToolbarModeDiv span {
	font-size: 12px;
	font-family: serif;
	line-height: 24px;
	width: 60px;
	height: 24px;
	display: block;
	float: left;
	clear: right;
	overflow: hidden;
}

div.mxTooltip {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: #FFFFCC;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-family: Arial;
	font-size: 8pt;
	position: absolute;
	cursor: default;
	padding: 4px;
	color: black;
}

div.mxPopupMenu {
	-webkit-box-shadow: 3px 3px 12px #C0C0C0;
	-moz-box-shadow: 3px 3px 12px #C0C0C0;
	box-shadow: 3px 3px 12px #C0C0C0;
	background: url('../images/window.gif');
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	cursor: default;
}

table.mxPopupMenu {
	border-collapse: collapse;
	margin-top: 1px;
	margin-bottom: 1px;
}

tr.mxPopupMenuItem {
	color: black;
	cursor: default;
}

td.mxPopupMenuItem.disabled {
	opacity: 0.2;
}

td.mxPopupMenuItem.disabled {
	_filter: alpha(opacity = 20) !important;
}

tr.mxPopupMenuItemHover {
	background-color: #000066;
	color: #FFFFFF;
}

td.mxPopupMenuItem {
	padding: 2px 30px 2px 10px;
	white-space: nowrap;
	font-family: Arial;
	font-size: 8pt;
}

td.mxPopupMenuIcon {
	background-color: #D0D0D0;
	padding: 2px 4px 2px 4px;
}

table.properties {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

table.properties tr.mxFormGap{
	height: auto;
}

table.properties tr{
	height:50px;
}

table.properties td.inputLabelTd{
	width: 58px;
	text-align: right;
	padding-right: 5px;
	font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

table.properties td.inputTd{
	width: 50px;
	font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

table.properties button {
	margin: 4px;
	padding: 4px;
	border: none;
	background-image: none;
	background-color: #02E;
	color: #fff;
	height: 24px;
}

table.properties textarea {
	width: 240px;
	height: 24px;
	line-height: normal;
	font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}
