html,body {
	min-width: 1280px;
	margin: 0;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

.clearfix {
	zoom: 1
}
*{
	box-sizing:content-box;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

* {
	font-family: "微软雅黑";
}

.warpper {
	padding: 20px;
}

.box {
	padding: 5px 7px;
}

.content_box {
	background: #FFFFFF;
	min-height: 20px;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}

.guide_box {
	padding:0 14px;
}

.guide_box li {
	width: 16.666%;
	float: left;
	padding:0 0 10px 0;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	cursor: pointer;
    border-radius:4px ;
}
.guide_box li .guide_inner{
	background: #f2f6ff;
	margin: 0 10px;
	border:1px solid #f2f6ff;
}
.guide_box li:hover .guide_inner{
	border:1px solid #297CE6;
}
.guide_inner {
	height: 100%;
	background: #fff;
	border-radius: 4px;
	padding:10px 0  20px 0;
	height: 230px
}

.guide_inner:hover {
	box-shadow: ;
}

.guide_img_box {
	text-align: center;
}

.guide_img_box img {
	vertical-align: middle;
}

.guide_inner h4 {
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	font-size: 16px;
	color: #435165;
	font-weight: 400;
}
.guide_box li:hover .guide_inner h4 {
	color: #297CE6;
}
.guide_inner p{
	margin: 0;
	line-height: 18px;
	font-size: 12px;
	color: #8893a2;
	text-align: center;
}
.guide_inner i {
	display: block;
	width: 40px;
	height: 4px;
	background: #297CE6;
	margin: 6px auto;
}

.box_title {
	 height: 50px;
    line-height: 50px;
	box-sizing: content-box;
    position: relative;
    background: url("../img/title_left.png") no-repeat left center;
}

.title {
	padding-left: 14px;
    height: 50px;
    line-height: 50px;
    color: #002257;
    line-height: 50px;
    font-weight: 600;
    font-size: 18px;
}
.app{
	width: 100px;
	height: 100px;
    margin: 0 auto;
    background: #f2f6ff;
    border-radius: 4px;
    cursor: pointer;
}
.app i {
	display: block;
    color: #297CE6;
    height: 58px;
    font-size: 28px;
    line-height: 64px;
    text-align: center;
}

.app_ul {
	padding: 0 20px;
	height: 120px
}

.app_ul li {
	float: left;
	width: 14.28%;
}

.app_ul {
	overflow: hidden;
}

.app_ul p {
	    margin: 0;
    font-size: 14px;
    color: #676F79;
    text-align: center;
}

.app:hover{
	background: #297ce6;
}

.app:hover i,.app:hover p {
	color: #fff;
}
 
@media only screen and (min-width: 1680px) {
	.guide_box li {
	padding-top:10px;
	padding-bottom: 28px;
	}	
	.guide_inner h4{
		font-size: 20px;
		line-height: 48px;
		font-weight: 600;
		
	}
	.guide_inner{
	padding: 40px 0 30px 0;
	height: auto;
	height: 260px;
	}
	.guide_inner p{
		line-height: 24px;
	}
	.app{
	width: 140px;
	height: 120px; 
	padding-top: 20px
	}
	.app_ul li{
	padding: 30px 0;
	}
	.app_ul{
	height: 240px;
	}
	.app i{
		font-size: 28px;
	}
	.app_ul p{
		font-size: 16px;
	}
} 
