.add-model-right{
  text-align: right;
  margin: 10px 0px 0px 10px;
  padding: 0px 10px 10px 0px;
  border-bottom: 2px solid #eee ;
}
.model-list{
  display: block;
  margin:10px 10px 10px 13px;
  padding: 0px;

}
.model-li{
  display: block;
  height: 40px;
  text-align: left;
}
.model-li:hover{
  background-color: #F5F5F5;
}
.model-li a {
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  min-width: 220px;
  width: 220px;
  white-space: nowrap;
  text-decoration:none;
}

.model-li a i{
  display: inline-block;
  color: #969696;
  font-size: 16px;
  vertical-align:middle;
}
.model-li a span{
  display:inline-block;
  color: #454545;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-left:5px;
  width:174px;
  vertical-align:middle;
}
.selected-model-li{
  background-color: #f0fbff;
}
.selected-model-li:hover{
  background-color: #e6f7ff;
}
.selected-model-li a i{
  color: #0079fe!important;
}

.form_commonTable th {
  font-size: 14px;
  text-align: center;
}
.form_commonTable tbody tr td {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.form_commonTable tbody tr td a{
  font-size: 12px;
}
.error{
  background:#FFF7FA;
  border:1px solid #CE7979;
  color:#F00;
}
