.icon-org{
	background:url('icons_ext/org.gif') no-repeat center center;
}
.icon-dept{
	background:url('icons_ext/dept.gif') no-repeat center center;
}
.icon-home{
	background:url('icons_ext/home.gif') no-repeat center center;
}
.icon-user{
	background:url('icons_ext/user.png') no-repeat center center;
}
.icon-role{
	background:url('icons_ext/role.gif') no-repeat center center;
}
.icon-group{
	background:url('icons_ext/group.png') no-repeat center center;
}
.icon-position{
	background:url('icons_ext/postion.gif') no-repeat center center;
}
.icon-addAll{
	background:url('icons_ext/addAll.gif') no-repeat center center;
}
.icon-deleteAll{
	background:url('icons_ext/deleteAll.gif') no-repeat center center;
}
.dialog-button-ex{
	text-align:center;
}


.selector-div{
	height:22px; 
	border:1px solid #d5d5d5;
	position:relative;
	float:left;
}
.selector-div-input{
	border:none; 
	background:#fff;
	padding:0 1px; 
/* 	float:left; */
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.input-right-icon{
	position:absolute;
	background: url("icons_ext/selectorCommon.gif") no-repeat center center;
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);
	width: 16px;
    height: 18px;
	right:0px;
    top:0px;
    _top:1px;
}
.input-right-icon-hover{
	opacity: 1.0;
	filter: alpha(opacity=100);
}
.input-right-icon-comp{
	 align:center;
	 margin-top:1px;
}
.selector-div .easyui-validatebox{
	height:18px;
}
