@CHARSET "UTF-8";
/*平台登录首页，皮肤切换样式  */

/*灰色皮肤显示  */
.skin-gray {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #798da5;
	border: 1px solid white;
}
/*蓝色皮肤显示  */
.skin-blue {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #287ce7;
	border: 1px solid white;
}
/*默认皮肤显示  */
.skin-default {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #c9c9c9;
	border: 1px solid white;
}

/*蓝色皮肤显示  */
.skin-blue_oa {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #3C93DD;
	border: 1px solid white;
}

/*默认皮肤显示  */
.skin-azure {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #187ed2;
	border: 1px solid white;
}

/*绿色皮肤显示  */
.skin-green {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #26a754;
	border: 1px solid white;
}
/*橙色皮肤显示  */
.skin-orange {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #ff6600;
	border: 1px solid white;
}
/*青色皮肤显示  */
.skin-cyan {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #007887;
	border: 1px solid white;
}
/*青色皮肤显示  */
.skin-red {
	cursor: pointer;
	float: left;
	overflow: hidden;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom:5px;
	background-color: #bb0000;
	border: 1px solid white;
}